<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>TRENDNET | modelName | Utility </title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();

	var hw_version 	= dev_info.hw_ver;
	var version 	= dev_info.fw_ver;
	var model		= dev_info.model;
	var login_Info 	= dev_info.login_info;
	var cli_mac 	= dev_info.cli_mac;
	
	var param = {
		url: "get_set.ccp",
		arg: ""
	};

	//var status_t = "<% CmoGetStatus("log_email_status"); %>";
	var count = 15;
	//var log_email_time_out_display = "<% CmoGetStatus("log_email_timeout_status"); %>";;
	
	/* sync to prj_define.h */
	var STATUS_SUCCESS = 1;
	var STATUS_FAIL = 0;
	var STATUS_INIT = 2;
	var STATUS_EMAIL_LOG_TIMEOUT_DISABLE = 0;
	
	
	/*function count_down_display_check(){
		if(parseInt(status_t,10) == STATUS_FAIL || parseInt(status_t,10) == STATUS_SUCCESS ){	
			// wait 2 sec to redirect to response page
			count = 2;	
		}		
		do_count_down();
	}	
	*/	
	
	function onPageLoad(){
		/*if(parseInt(status_t,10) == STATUS_INIT){
			if(log_email_time_out_display == STATUS_EMAIL_LOG_TIMEOUT_DISABLE){												
				count_down_display_check();
			}else{				
				get_by_id("count_down_disaply").style.display = "none";	       
				get_by_id("timeout_disaply").style.display = "";
				setTimeout('count_down_display_check()',2000);	
			}	
		}else{					
			count_down_display_check();
		}
		get_by_id("html_response_page").value = get_by_id("html_response_return_page").value;	
		*/
	}
	
	function back(){
		get_by_id("show_back2").style.display = "";
		/*
		if(login_Info!= "w"){
			window.location.href ="lan.htm";
		}else{
			if(parseInt(status_t,10) == STATUS_FAIL || parseInt(status_t,10) == STATUS_SUCCESS ){	
				window.location.href = "http://"+"<% CmoGetCfg("lan_ipaddr","none"); %>"+"/"+get_by_id("html_response_page").value;
			}else{
				window.location.href = "http://"+"<% CmoGetCfg("lan_ipaddr","none"); %>"+"/email_log.htm";
			}	
		}
		*/
	}
	function do_count_down(){
		var paramQueryRet = {
			url: "log.ccp",
			arg: "ccp_act=doEmailResultQuery"
		};	
		get_config_obj(paramQueryRet);
		
		var ret = config_val("emailResult");
		
		if(ret)
		{
			if(ret == "success")
			{
				get_by_id("email_status").innerHTML = get_words('__success');
				get_by_id("count_down_disaply").style.display = "none";
				back();
				return;
			}
			else if(ret == "fail")
			{
				//alert("fail");
				get_by_id("email_status").innerHTML = get_words('__fail');
				get_by_id("count_down_disaply").style.display = "none";
				back();
				return;
			}
			else
			{
				get_by_id("count_down_disaply").style.display = "";
			}
		}
	
	/*
		if(parseInt(status_t,10) == STATUS_SUCCESS || parseInt(status_t,10) == STATUS_FAIL){		
			get_by_id("count_down_disaply").style.display = "none";	
			
			// 1: status success 	
			if(parseInt(status_t,10) == STATUS_SUCCESS){
				get_by_id("email_status").innerHTML = get_words('__success');
			// 0: status fail
			}else if(parseInt(status_t,10) == STATUS_FAIL){
				get_by_id("email_status").innerHTML = get_words('__fail');
			}	
			// 2: status init
		}else{
			// only show count down at "status init"
			get_by_id("timeout_disaply").style.display = "none";
			get_by_id("count_down_disaply").style.display = "";		
		}
	*/
		
		
		if (count < 0) {	       
			get_by_id("count_down_disaply").style.display = "none";
			get_by_id("timeout_disaply").style.display = "";
			get_by_id("timeleft").innerHTML = count;
	        back();
	        return false;
	    }
		
		get_by_id("timeleft").innerHTML = count;

		if (count >= 0) {
	        count--;
	        setTimeout('do_count_down()',1000);
	    }	    	  	
	}
		
</script>
</head>
<body>
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
                <tr>
                  <td class="headerbg2">&nbsp;</td>
                </tr>
                <tr>
                  <td valign="top"><input type="hidden" id="html_response_page" name="html_response_page" value="lan.htm">
                    <input type="hidden" id="html_response_message" name="html_response_message" value="<% CmoGetCfg("html_response_message","none"); %>">
                    <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="<% CmoGetCfg("html_response_return_page","none"); %>">
                    <input type="hidden" id="ping_result" name="ping_result" value="<% CmoGetStatus("ping_result"); %>">
<TABLE width="98%" border="0" align="center" cellpadding="3" cellspacing="1">
                        <tr>
                          <td bgcolor="#DDDDDD"><p>&nbsp;</p>
                              <table width="70%" border="0" align="center">
                                <tr>
                                  <td height="100"><div id=box_header2>
                                      <div align="center">
										<!--
                                        <script>
												var login_who="<% CmoGetStatus("get_current_user"); %>";
												if(login_who== "user"){
													document.write(get_words('_MSG15));
												}else{													
														document.write(get_by_id("html_response_message").value);													
												}
										</script>
										-->
										<span id="email_status"></span>
                                        <br>
                                        <br>
                                        <div id="count_down_disaply" style="display:none"><p align="center" class="box_msg"><script>show_words('_MSG1');</script> <font color="#0000CC"><b><span id="timeleft"></span></b></font>&nbsp;<script>show_words('li_msg3');</script></p></div>
                                        <div id="timeout_disaply" style="display:none"><p align="center" class="box_msg"><script>show_words('_MSG787');</script></p></div>
                                        <div id="show_back2" style="display:none"><a href="log_setting.htm"><b><script>show_words('_Back');</script></b></a></div>
                                      </div>
                                  </div></td>
                                </tr>
                              </table>
                            <p>&nbsp;</p></td>
                        </tr>
                                            </table>
<br></td></tr>
              </table>
                <br></td>
          </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
</body>
<script>
	onPageLoad();
	do_count_down();
</script>
</html>
