<html>
<head>
<meta http-equiv="Content-Type" content="text/html;">
<title>TRENDNET | modelName | Access | MAC Filters</title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();

	var hw_version 	= dev_info.hw_ver;
	var version 	= dev_info.fw_ver;
	var model		= dev_info.model;
	var login_Info 	= dev_info.login_info;
	var cli_mac 	= dev_info.cli_mac;
	
	var param = {
		url: "get_set.ccp",
		arg: ""
	};
	param.arg = "ccp_act=get&num_inst=2";
	param.arg +="&oid_1=IGD_MACFilter_&inst_1=11000";
	param.arg +="&oid_2=IGD_MACFilter_ClientList_i_&inst_2=11000";
	get_config_obj(param);
	
	var current_rules = 0;
	var array_rules_name = config_str_multi("macList_Name_");
	var array_rules_mac = config_str_multi("macList_MACAddress_");
	if(array_rules_name != null)
		current_rules = array_rules_name.length;
		
	var array_rules_inst 		= config_inst_multi("IGD_MACFilter_ClientList_i_");


	var DataArray = new Array();
	var rule_max_num = 20;
	var DEFAULT_MAC_FILTER_RULE = "0/name/00:00:00:00:00:00/Always";
	
	function loadSettings(){
		var act = "0";
		if(config_val("macFilter_Action_"))
			act = config_val("macFilter_Action_");
		set_checked(act, get_by_name("mac_filter_type"));
	}
	
	function DataShow(){
		set_acl();
		for (var i=0; i<DataArray.length;i++){
			document.write("<tr bgcolor=\"#F0F0F0\" onClick=\"edit_row("+ i +")\">");
			document.write("<td>"+ DataArray[i].Name +"</td>");
			document.write("<td>"+ DataArray[i].Mac_addr +"</td>");
			document.write("</tr>\n");
		}
	}
	
	function set_acl(){
		var index = 0;
		/*for (var i = 0; i < rule_max_num; i++){
			var temp_mac;
			var k=i;
			if(i<10){
				k="0"+i;
			}
			temp_mac = (get_by_id("mac_filter_" + k).value).split("/");
			if (temp_mac.length > 1){
				if(temp_mac[2] != "00:00:00:00:00:00"){
					DataArray[DataArray.length++] = new Data(temp_mac[0],temp_mac[1],temp_mac[2], temp_mac[3], index);
					index++;
				}
			}
		}
		*/
		//alert("cnt:"+current_rules);
		//alert("name:"+array_rules_name[0]);
		//alert("mac:" + array_rules_mac[0]);
		//alert("inst:"+ array_rules_inst[0]);
		for (var i = 0; i < current_rules; i++){
			if(array_rules_mac[i] != "00:00:00:00:00:00"){
				DataArray[DataArray.length++] = new Data(1,array_rules_name[i],array_rules_mac[i], "Always", i);
				//index++;
			}
			
		}

	}
	
	//0/Name/00:00:00:00:00:00/Always
	function Data(enable,name, mac_addr, schedule, onList){
		this.Enable = enable;
		this.Name = name;
		this.Mac_addr = mac_addr;
		this.Schedule = schedule;
		this.OnList = onList;
	}
	
	function del_row(){
		//alert(DataArray.length);
        var index = parseInt(get_by_id("edit_row").value,10);
        /* rule can't be empty */
        if(DataArray.length == 1 && get_by_name("mac_filter_type")[1].checked){
        	alert(msg[MSG58]);
        	return false;
        }
        if(confirm(addstr(msg[MSG16],get_words('_MACfilter')))){
			/*
        	for(i=index ; i<DataArray.length-1 ;i++){
				DataArray[i].Enable = DataArray[i+1].Enable;
				DataArray[i].Name = DataArray[i+1].Name;
				DataArray[i].Mac_addr = DataArray[i+1].Mac_addr;
				DataArray[i].Schedule = DataArray[i+1].Schedule;
				DataArray[i].OnList = DataArray[i+1].OnList;
			}
			--DataArray.length;
			save_to_cfg();
			*/
			
			get_by_id("ccp_act").value = "del";
			get_by_id("submit_items").innerHTML = '<input type="hidden" name="num_inst" id="num_inst" value="1">';
			get_by_id("submit_items").innerHTML += '<input type="hidden" name="oid_1" id="oid_1" value="IGD_MACFilter_ClientList_i_">';
			get_by_id("submit_items").innerHTML += '<input type="hidden" name="inst_1" id="inst_1" value="1.1.'+ array_rules_inst[index][2] +'.0.0">';
			//param.arg = "ccp_act=del&num_inst=1";
			//param.arg +="&oid_1=IGD_MACFilter_ClientList_i_&inst_1=1.1."+ array_rules_inst[index][2] +".0.0";
			//param.arg +="&ccpSubEvent=CCP_SUB_MACFILTER&nextPage=filters.htm";
			//get_config_obj(param);
			send_submit("form2");	
			return true;
        }
        return false;
    }
    
    function edit_row(row){
    	var row_obj = get_by_id("table1").rows[row+1];
        var mac;
        
    	get_by_id("filter_name").value = get_row_data(row_obj, 0);    	
    	mac = get_row_data(row_obj, 1).split(":");
    	for (var i = 1; i < 7; i++){
    		get_by_id("mac" + i).value = mac[i-1];
    	}
        
		//get_by_id("newList").innerHTML = '<input type="hidden" name="macList_Name_1.1.'+row+'.0.0" id="macList_Name_1.1.'+row+'.0.0" value="">';
		//get_by_id("newList").innerHTML += '<input type="hidden" name="macList_MACAddress_1.1.'+row+'.0.0" id="macList_MACAddress_1.1.'+row+'.0.0" value="">';

        get_by_id("edit_row").value = row;
        get_by_id("add").disabled = true;
        get_by_id("update").disabled = false;
        get_by_id("del").disabled = false;
        change_color("table1", row+1);
    }
    
    function clear_row(){
        get_by_id("edit_row").value = "-1";
        change_color("table1", -1);
        location.href = "filters.htm";
    }
    
    function check_if_empty_rule(){    
    	if(get_by_name("mac_filter_type")[1].checked){		
    		/*if(get_by_id("mac_filter_00").value == DEFAULT_MAC_FILTER_RULE){
				alert(msg[MSG57]);
				return false;
			}*/
			if(current_rules == "0")
			{
				alert(msg[MSG57]);
				return false;
			}			
		}	
		return true;
    }
    
	function set_filter_action()
	{
		if(true == check_if_empty_rule())
		{
			get_by_id("ccp_act").value = "set";
			get_by_id("submit_items").innerHTML = '<input type="hidden" name="macFilter_Action_1.1.0.0.0" id="macFilter_Action_1.1.0.0.0" value="">';
			get_by_id("macFilter_Action_1.1.0.0.0").value = get_checked_value(get_by_name("mac_filter_type"));
			send_submit("form2");
		}
	}
	
	function send_request(){
		var filter_name = get_by_id("filter_name").value;
		var mac = "";
		if (filter_name == ""){
			alert(msg[MSG18]);
			return false;
		}
						
		for (var i = 1; i < 7; i++){
			mac += get_by_id("mac" + i).value;
			
			if (i < 6){
				mac += ":";
			}
		}

		if(check_mac_00(mac) == -59)
        {
        	alert(msg[MSG59]);
        	return false;
        }
	
		if (!check_mac_00(mac) || mac == "00:00:00:00:00:00" || mac == ":::::"){
			alert(msg[MSG5]);
			return false;
		}
		
		var index = parseInt(get_by_id("edit_row").value,10);
		//double name check
		for(i=0;i<DataArray.length;i++){
			if(DataArray[i].Name==get_by_id("filter_name").value){
				if(DataArray[i].Name != "" && index==(DataArray[i].OnList)){
					continue;
				}else{
					alert(addstr(msg[MSG41],get_words('_MACname')));
					return false;
				}			
			}
			if(DataArray[i].Mac_addr==mac){
				if(DataArray[i].Mac_addr != "" && index==(DataArray[i].OnList)){
					continue;
				}else{
					alert(addstr(msg[MSG42],get_words('_MACAddr')));
					return false;
				}			
			}
		}
		
		//save data ::edit
		if(index > -1){
			DataArray[index].Name = filter_name;
			DataArray[index].Mac_addr = mac;
		}else{//save add data
			var max_num = DataArray.length;
			if(parseInt(max_num,10)>(parseInt(rule_max_num-1,10))){
				alert(get_words('_MSG40')+" "+rule_max_num)
				return false;
			}
			DataArray[DataArray.length++] = new Data(1,filter_name, mac, "Always", DataArray.length);
		}
		save_to_cfg();
    	return true;
	}
	
	function add_new_row()
	{
		var filter_name = get_by_id("filter_name").value;
		var mac = "";
		if (filter_name == ""){
			alert(msg[MSG18]);
			return false;
		}
						
		for (var i = 1; i < 7; i++){
			mac += get_by_id("mac" + i).value;
			
			if (i < 6){
				mac += ":";
			}
		}

		if(check_mac_00(mac) == -59)
        {
        	alert(msg[MSG59]);
        	return false;
        }
	
		if (!check_mac_00(mac) || mac == "00:00:00:00:00:00" || mac == ":::::"){
			alert(msg[MSG5]);
			return false;
		}
		
		//check double name and mac
		for(i=0;i<DataArray.length;i++)
		{
			if(DataArray[i].Name==filter_name){
				alert(addstr(msg[MSG41],get_words('_MACname')));
				return false;			
			}
			if(DataArray[i].Mac_addr==mac){
				alert(addstr(msg[MSG42],get_words('_MACAddr')));
				return false;			
			}
		}
		
		var max_num = DataArray.length;
		if(parseInt(max_num,10)>(parseInt(rule_max_num-1,10))){
			alert(get_words('_MSG40')+" "+rule_max_num)
			return false;
		}
		
		param.arg = "ccp_act=queryInst&num_inst=1";
		param.arg +="&oid_1=IGD_MACFilter_ClientList_i_&inst_1=11000";
		get_config_obj(param);
		var instStr = config_val("newInst");
		//alert(instStr);
		get_by_id("submit_items").innerHTML = '<input type="hidden" name="macList_Name_'+instStr+'" id="macList_Name_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="macList_MACAddress_'+instStr+'" id="macList_MACAddress_'+instStr+'" value="">';
		
		get_by_id("macList_Name_"+instStr).value = filter_name;
		get_by_id("macList_MACAddress_"+instStr).value = mac;
		send_submit("form2");
	}
	
	function update_row()
	{
		var filter_name = get_by_id("filter_name").value;
		var mac = "";
		if (filter_name == ""){
			alert(msg[MSG18]);
			return false;
		}
						
		for (var i = 1; i < 7; i++){
			mac += get_by_id("mac" + i).value;
			
			if (i < 6){
				mac += ":";
			}
		}

		if(check_mac_00(mac) == -59)
        {
        	alert(msg[MSG59]);
        	return false;
        }
	
		if (!check_mac_00(mac) || mac == "00:00:00:00:00:00" || mac == ":::::"){
			alert(msg[MSG5]);
			return false;
		}
		
		var index = get_by_id("edit_row").value;
		//check double name and mac
		for(i=0;i<DataArray.length;i++)
		{
			if(DataArray[i].Name==filter_name){
				if(i == index)
					continue;
				alert(addstr(msg[MSG41],get_words('_MACname')));
				return false;			
			}
			if(DataArray[i].Mac_addr==mac){
				if(i == index)
					continue;
				alert(addstr(msg[MSG42],get_words('_MACAddr')));
				return false;			
			}
		}
		
		//alert("update inst="+array_rules_inst[index]);
		get_by_id("submit_items").innerHTML = '<input type="hidden" name="macList_Name_1.1.'+array_rules_inst[index][2]+'.0.0" id="macList_Name_1.1.'+array_rules_inst[index][2]+'.0.0" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="macList_MACAddress_1.1.'+array_rules_inst[index][2]+'.0.0" id="macList_MACAddress_1.1.'+array_rules_inst[index][2]+'.0.0" value="">';
		
		get_by_id("macList_Name_1.1."+array_rules_inst[index][2]+".0.0").value = filter_name;
		get_by_id("macList_MACAddress_1.1."+array_rules_inst[index][2]+".0.0").value = mac;
		send_submit("form2");	
	}
	
	function save_to_cfg(){
		for(k=0; k<rule_max_num; k++){
			var now_num = k;
			if(parseInt(k,10)<10){
				now_num = "0"+k;
			}
			var temp_st = DEFAULT_MAC_FILTER_RULE;
			if(k<DataArray.length){
				temp_st = DataArray[k].Enable+"/"+DataArray[k].Name +"/"+ DataArray[k].Mac_addr + "/" + DataArray[k].Schedule;
			}
			get_by_id("mac_filter_"+now_num).value = temp_st;
		}
	}
</SCRIPT>
</head>

<body onLoad="MM_preloadImages('but_wizard_1.gif','but_status_1.gif','but_tools_1.gif','but_main_1.gif','but_wireless_1.gif','but_routing_1.gif','but_access_1.gif','but_management_1.gif');loadSettings()">
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20%" height="429" valign="top"><table width="56%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td onclick="location.href='lan.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG749');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>	
				</a></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='wireless_basic.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wireless');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='status.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG748');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
               <td onclick="location.href='static_routing.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG747');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='filters.htm'">
				<table class="menu_tb">
				<tr>
					<td class="menu_sel_nw"></td>
					<td class="menu_sel_n"></td>
					<td class="menu_sel_ne"></td>
				</tr>
				<tr>
					<td class="menu_sel_w"></td>
					<td class="menu_sel_m"><b>&nbsp;&nbsp;<script>show_words('_Access');</script></td>
					<td class="menu_sel_e"></td>
				</tr>
				<tr>
					<td class="menu_sel_sw"></td>
					<td class="menu_sel_s"></td>
					<td class="menu_sel_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="2" class="submenubg">
                    <tr>
                      <td width="13%" align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td width="87%"><a href="filters.htm" class="submenus"><b><u><script>show_words('_Filter');</script> </u></b></a></td>
                    </tr>
                    <!--<tr>
                  <td align="right"><font color="#FFFFFF">&bull;</font></td>
                  <td><a href="inbound_filter.htm" class="submenus"><b><script>show_words('_MSG736');</script> </b></a></td>
                </tr>-->
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="virtual_server.htm" class="submenus"><b><script>show_words('_VirtualSer');</script> </b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="special_ap.htm" class="submenus"><b><script>show_words('_SpecialAP');</script> </b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="dmz.htm" class="submenus"><b><script>show_words('_DMZ');</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="firewall_setting.htm" class="submenus"><b><script>show_words('_FirewallRule');</script></b></a></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
               <td onclick="location.href='snmp.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG746');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='restart.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Tools');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="show_wizard('wizard.htm',login_Info)">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wizard');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="15" height="15"></td>
              </tr>
            </table>
            <p>&nbsp;</p>
              <p>&nbsp;</p></td>
            <td width="2%"><img src="spacer.gif" width="15" height="15" /></td>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
                <tr>
                  <td class="headerbg2"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 10px 0 10px 0">
                    <tr>
                        <td width="79%"><font color="#FFFFFF" class="textheader" style="margin-left:0; padding-left:0"><script>show_words('_Filter');</script></font></td>
                      <td width="21%"><input name="button" type="button" id="help_btn" class="ButtonHelp" onclick="MM_openBrWindow('help_access.htm#access_user_group','','scrollbars=yes,resizable=yes,width=800,height=550')" value="" />               
							<script>$('#help_btn').val(get_words('_Help'));</script>	
         </td>
                    </tr>
                    </table></td>
              </tr>
                <tr>
                  <td valign="top">
				  <form id="form2" name="form2" method="post" action="get_set.ccp">
				    <input type="hidden" name="ccp_act" id="ccp_act" value="set">
					<input type="hidden" name="ccpSubEvent" value="CCP_SUB_MACFILTER">
					<input type="hidden" name="nextPage" value="filters.htm">	
					<span id="submit_items">
					</span>
				  </form>
				  <form id="form1" name="form1" method="post" action="apply.cgi">
                    <input type="hidden" id="html_response_page" name="html_response_page" value="back.htm">
                    <input type="hidden" id="html_response_message" name="html_response_message" value="The setting is saved.">
                    <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="filters.htm">
                    <input type="hidden" id="reboot_type" name="reboot_type" value="all">
                    <input type="hidden" id="mac_filter_00" name="mac_filter_00" value='<% CmoGetCfg("mac_filter_00","none"); %>'>
                    <input type="hidden" id="mac_filter_01" name="mac_filter_01" value='<% CmoGetCfg("mac_filter_01","none"); %>'>
                    <input type="hidden" id="mac_filter_02" name="mac_filter_02" value='<% CmoGetCfg("mac_filter_02","none"); %>'>
                    <input type="hidden" id="mac_filter_03" name="mac_filter_03" value='<% CmoGetCfg("mac_filter_03","none"); %>'>
                    <input type="hidden" id="mac_filter_04" name="mac_filter_04" value='<% CmoGetCfg("mac_filter_04","none"); %>'>
                    <input type="hidden" id="mac_filter_05" name="mac_filter_05" value='<% CmoGetCfg("mac_filter_05","none"); %>'>
                    <input type="hidden" id="mac_filter_06" name="mac_filter_06" value='<% CmoGetCfg("mac_filter_06","none"); %>'>
                    <input type="hidden" id="mac_filter_07" name="mac_filter_07" value='<% CmoGetCfg("mac_filter_07","none"); %>'>
                    <input type="hidden" id="mac_filter_08" name="mac_filter_08" value='<% CmoGetCfg("mac_filter_08","none"); %>'>
                    <input type="hidden" id="mac_filter_09" name="mac_filter_09" value='<% CmoGetCfg("mac_filter_09","none"); %>'>
                    <input type="hidden" id="mac_filter_10" name="mac_filter_10" value='<% CmoGetCfg("mac_filter_10","none"); %>'>
                    <input type="hidden" id="mac_filter_11" name="mac_filter_11" value='<% CmoGetCfg("mac_filter_11","none"); %>'>
                    <input type="hidden" id="mac_filter_12" name="mac_filter_12" value='<% CmoGetCfg("mac_filter_12","none"); %>'>
                    <input type="hidden" id="mac_filter_13" name="mac_filter_13" value='<% CmoGetCfg("mac_filter_13","none"); %>'>
                    <input type="hidden" id="mac_filter_14" name="mac_filter_14" value='<% CmoGetCfg("mac_filter_14","none"); %>'>
                    <input type="hidden" id="mac_filter_15" name="mac_filter_15" value='<% CmoGetCfg("mac_filter_15","none"); %>'>
                    <input type="hidden" id="mac_filter_16" name="mac_filter_16" value='<% CmoGetCfg("mac_filter_16","none"); %>'>
                    <input type="hidden" id="mac_filter_17" name="mac_filter_17" value='<% CmoGetCfg("mac_filter_17","none"); %>'>
                    <input type="hidden" id="mac_filter_18" name="mac_filter_18" value='<% CmoGetCfg("mac_filter_18","none"); %>'>
                    <input type="hidden" id="mac_filter_19" name="mac_filter_19" value='<% CmoGetCfg("mac_filter_19","none"); %>'>
                    <input type="hidden" id="edit_row" name="edit_row">
                    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                      <tr>
                        <td align="right" valign="top" nowrap class="bgblue"><script>show_words('_Filters');</script></td>
                        <td width="80%" class="bggrey"><script>show_words('_MSG3');</script> <br>
                                  <br>
                                  <table width="100%" border="0" cellpadding="3" cellspacing="0">
                                    <tr>
                                      <td width="5%"><input type="radio" name="filters" checked></td>
                                      <td width="40%"><b><u><script>show_words('_MacFilter');</script></u></b></td>
                                      <td width="5%">&nbsp;</td>
                                      <td width="50%">&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td><input type=radio name="filters" onClick="location.href='domain_filter.htm'"></td>
                                      <td colspan="3"><b><script>show_words('_DomainUrlBlocking');</script></b></td>
                                      <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                      <td><input type="radio" name="filters" onClick="location.href='protocol_filter.htm'"></td>
                                      <td colspan="3"><b><script>show_words('_Protocol_IP_Filters');</script></b></td>
                                      <td>&nbsp;</td>
                                    </tr>
                                </table></td>
                      </tr>
                      <tr>
                        <td align="right" valign="top" class="bgblue"><script>show_words('_MacFilter');</script></td>
                        <td class="bggrey"><table width="100%" border="0" cellpadding="3" cellspacing="0">
                            <tr>
                              <td width="7%" valign="top"><input type="radio" value="0" name="mac_filter_type"></td>
                              <td width="93%" valign="top"><font face="Arial" size="2"><script>show_words('_Disabled');</script></font></td>
                            </tr>
                            <tr>
                              <td colspan="2" valign="top"><img src="spacer.gif" width="10" height="5"></td>
                            </tr>
                            <tr>
                              <td valign="top"><input type="radio" value="1" name="mac_filter_type"></td>
                              <td valign="top"><font face="Arial" size="2"><script>show_words('_Only1');</script> <b><script>show_words('_Allow');</script></b> <script>show_words('li_msg8');</script></font></td>
                            </tr>
                            <tr>
                              <td colspan="2" valign="top"><img src="spacer.gif" width="10" height="5"></td>
                            </tr>
                            <tr>
                              <td valign="top"><input type="radio" value="2" name="mac_filter_type"></td>
                              <td valign="top"><font face="Arial" size="2"><script>show_words('_Only1');</script> <b><script>show_words('_Deny');</script></b> <script>show_words('li_msg8');</script></font></td>
                            </tr>
                        </table>
                        <table width="100%" border="0" cellpadding="3" cellspacing="0">
                        	<tr>                                                            
                              <td><font align="left" color="#FF0000"><script>show_words('li_msg9');</script> </font></td>
                            </tr>                            
                        </table></td>
                      </tr>
                      <tr>
                        <td align="right" valign="top" class="bgblue">&nbsp;</td>
                        <td class="bggrey2"><input name="apply" type="button" class="ButtonSmall" value="" id="apply" onclick="return set_filter_action()">
								<script>$('#apply').val(get_words('_Apply'));</script>
                        </td>
                      </tr>
                      <tr>
                        <td align="right" valign="top" class="bgblue"><script>show_words('_MacTable');</script></td>
                        <td class="bggrey"><table width="100%" border="0" cellpadding="3" cellspacing="0">
                            <tr>
                              <td width="22%" align="right"><b><script>show_words('_Name');</script>:</b></td>
                              <td width="78%"><input type="text" id="filter_name" name="filter_name" size="32" maxlength="31"></td>
                            </tr>
                            <tr>
                              <td colspan="2"><img src="spacer.gif" width="10" height="5"></td>
                            </tr>
                            <tr>
                              <td align="right" nowrap><b><script>show_words('_MACAddr');</script>: </b></td>
                              <td><font face="Arial" size="2">
                                <input type="text" id="mac1" name="mac1" size="2" maxlength="2">
                                -
                                <input type="text" id="mac2" name="mac2" size="2" maxlength="2">
                                -
                                <input type="text" id="mac3" name="mac3" size="2" maxlength="2">
                                -
                                <input type="text" id="mac4" name="mac4" size="2" maxlength="2">
                                -
                                <input type="text" id="mac5" name="mac5" size="2" maxlength="2">
                                -
                                <input type="text" id="mac6" name="mac6" size="2" maxlength="2">
                              </font></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="right" valign="top" class="bgblue">&nbsp;</td>
                        <td class="bggrey2"><input name="add" type="button" class="ButtonSmall" id="add" onClick="return add_new_row()" value="">
								<script>$('#add').val(get_words('_Add'));</script>

                            <input name="update" type="button" disabled class="ButtonSmall" id="update" onClick="return update_row()" value="">
									<script>$('#update').val(get_words('_update'));</script>
                            <br>
                        <input name="del" type="button" disabled class="ButtonSmall" id="del" onClick="return del_row()" value="">
									<script>$('#del').val(get_words('_Delete'));</script>
                            <input name="cancel" type="button" class="ButtonSmall" onClick="clear_row()" value="" id="cancel"></td>
									<script>$('#cancel').val(get_words('_Cancel'));</script>
                      </tr>
                    </table>
                  </form>
                    <br>
                    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333" id="table1">
                      <tr align="center">
                        <td bgcolor="#DDDDDD"><b><script>show_words('_Name');</script></b></td>
                        <td bgcolor="#DDDDDD"><b><script>show_words('_MACAddr');</script></b></td>
                      </tr>
                      <script>DataShow();</script>
                      <!-- repeat name=show_mac_filter -->
                    </table>
                    <br>
                  </td>
                </tr>
            </table></td>
          </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
<script>
	var login_who=login_Info;
    if(login_who != "w")
	{
		get_by_id("apply").disabled	 = "true";
		get_by_id("add").disabled  = "true";
		get_by_id("del").disabled  = "true";
		get_by_id("cancel").disabled  = "true";
		get_by_id("update").disabled  = "true";
	}
</script>
</body>
</html>
