<html>
<head>
<meta http-equiv="Content-Type" content="text/html;">
<title>TRENDNET | modelName | Status | Log Setting</title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();

	var hw_version 	= dev_info.hw_ver;
	var version 	= dev_info.fw_ver;
	var model		= dev_info.model;
	var login_Info 	= dev_info.login_info;
	var cli_mac 	= dev_info.cli_mac;
	
	var param = {
		url: "get_set.ccp",
		arg: ""
	};
	
	param.arg = "ccp_act=get&num_inst=2";
	param.arg +="&oid_1=IGD_Email_&inst_1=11000";
	param.arg +="&oid_2=IGD_SystemLogInfo_&inst_2=11000";
	get_config_obj(param);
	
	var curr_log_server = config_val("sysLog_SysLogServerAddress_");
	
	function loadSettings(){
		/*
		var schedule_rule_exist = 0;
		var schedule_rule = get_by_id("schedule_rule_00").value.split("/");
		var log_email_schedule = get_by_id("log_email_schedule").value.split("/");
		var temp_log_email_schedule=log_email_schedule[0];
		var email_sch = get_by_name("email_sch");
		
		if(schedule_rule && schedule_rule.length > 1)
			schedule_rule_exist = 1;
			
		if(schedule_rule_exist){
			var temp_schedule_rule = schedule_rule[1];
			var temp_schedule_time = schedule_rule[2];
			var temp_schedule_hour = temp_schedule_time.split(":");
		}
		*/

		//var syslog_ser = get_by_id("syslog_server").value.split("/");
		
		/*
		set_checked("<% CmoGetCfg("log_system_activity","none"); %>", get_by_id("type1"));
		set_checked("<% CmoGetCfg("log_debug_information","none"); %>", get_by_id("type2"));
		set_checked("<% CmoGetCfg("log_attacks","none"); %>", get_by_id("type3"));
		set_checked("<% CmoGetCfg("log_dropped_packets","none"); %>", get_by_id("type4"));
		set_checked("<% CmoGetCfg("log_notice","none"); %>", get_by_id("type5"));
		set_checked("<% CmoGetCfg("log_email_auth","none"); %>",get_by_name("log_email_auth"));
		*/
		set_checked(config_val("sysLog_OptionSystemActivity_"), get_by_id("type1"));
		set_checked(config_val("sysLog_OptionDebugInfo_"), get_by_id("type2"));
		set_checked(config_val("sysLog_OptionAttack_"), get_by_id("type3"));
		set_checked(config_val("sysLog_OptionDroppedPacket_"), get_by_id("type4"));
		set_checked(config_val("sysLog_OptionNotice_"), get_by_id("type5"));
		set_checked(config_val("emailCfg_AuthenticationEnable_"),get_by_name("log_email_auth"));

		enable_smtp_auth();

                
  		get_by_id("sys_server").value = config_val("sysLog_SysLogServerAddress_");
		
		if(config_val("emailCfg_LogOnFullEnable_") == "1")
			get_by_name("email_sch")[0].checked = true;
		else
			get_by_name("email_sch")[0].checked = false;
		
		if(config_val("emailCfg_LogOnScheduleEnable_") == "1")
			get_by_name("email_sch")[1].checked = true;
		else
			get_by_name("email_sch")[1].checked = false;
			
                 /*if (temp_log_email_schedule==0)
	               email_sch[1].checked=true;
                 else
	               email_sch[0].checked=true;
				  */
        
		get_by_id("email_sch_day").selectedIndex = config_val("emailCfg_LogScheduleDay_");
		get_by_id("email_sch_ampm").selectedIndex = config_val("emailCfg_LogScheduleMeridiem_");
		get_by_id("email_sch_time").selectedIndex = config_val("emailCfg_LogScheduleHour_");
		
		email_sch_auth();

		get_by_id("log_email_username").value = config_val("emailCfg_AccountName_");
		get_by_id("log_email_password").value = config_val("emailCfg_AccountPassword_");
		get_by_id("log_email_server").value = config_val("emailCfg_SMTPServerAddress_");
		if(config_val("emailCfg_SMTPServerPort_") && config_val("emailCfg_SMTPServerPort_")!="0")
			get_by_id("log_email_server_port").value = config_val("emailCfg_SMTPServerPort_");
		else
			get_by_id("log_email_server_port").value = "";
			
		get_by_id("log_email_sender").value = config_val("emailCfg_EmailFrom_");
		get_by_id("log_email_recipien").value = config_val("emailCfg_EmailTo_");

		set_form_default_values("form1");

		/*
	 if (temp_schedule_rule == "1000000"){
			get_by_id("email_sch_day").selectedIndex = 0;
		}else if (temp_schedule_rule == "0100000"){
			get_by_id("email_sch_day").selectedIndex = 1;
		}else if (temp_schedule_rule == "0010000"){
			get_by_id("email_sch_day").selectedIndex = 2;
		}else if (temp_schedule_rule == "0001000"){
			get_by_id("email_sch_day").selectedIndex = 3;
		}else if (temp_schedule_rule == "0000100"){
			get_by_id("email_sch_day").selectedIndex = 4;
		}else if (temp_schedule_rule == "0000010"){
			get_by_id("email_sch_day").selectedIndex = 5;
		}else if (temp_schedule_rule == "0000001"){
			get_by_id("email_sch_day").selectedIndex = 6;
		}else if (temp_schedule_rule == "1111111"){
			get_by_id("email_sch_day").selectedIndex = 7;
		}
		
		if(schedule_rule_exist){
			if(temp_schedule_hour[0]<=12){
    			get_by_id("email_sch_ampm").selectedIndex = 0;
    			get_by_id("email_sch_time").selectedIndex = temp_schedule_hour[0];
    		}else{   				
   				get_by_id("email_sch_ampm").selectedIndex = 1;
   				get_by_id("email_sch_time").selectedIndex = (temp_schedule_hour[1]==30) ? 12 : temp_schedule_hour[0]-12;
    		} 
    		
    	}
		*/
}

	function check_smtp(){
		if (is_form_modified("form1")) {
			alert(msg[MSG55]);
			return false;
		}
		
		var send_to = get_by_id("log_email_sender").value;
		var send_fm = get_by_id("log_email_recipien").value;
		var index_to = -1;
		var index_fm = -1;
		
		/*
		if(get_by_id("email_log_result").value == "0")
		{
			alert(msg[MSG55]);
            return false;
		}
		*/

		index_to = send_to.indexOf("@");
		index_fm = send_fm.indexOf("@");
		
		if (get_by_id("log_email_server").value == ""){	// check the smtp server is empty or not
			alert(msg[MSG14]);
			return false;
		}else if (index_to == -1 || index_fm == -1){	// check the email address is in correct format or not
			alert(msg[MSG15]);
			return false;
		}
		
		var email_server_port = get_by_id("log_email_server_port").value;
		if (!check_port(email_server_port)){
			alert(msg[MSG25]);	
			return false;
		}
		
		var paramDoEmailNow = {
			url: "get_set.ccp",
			arg: 'ccp_act=doEvent&ccpSubEvent=CCP_SUB_EMAILNOW'
		};
		
		get_config_obj(paramDoEmailNow);
		
		window.location.href = "email_log.htm";
		//save_system_cfg();
		
		/*
		get_by_id("form1").action = "send_log_email.cgi";
		get_by_id("html_response_message").value = "Sending log message and waiting for response";
		get_by_id("html_response_page").value = "email_log.htm";
		send_submit("form1");
		*/
		return true;
	}
	
	function save_system_cfg(){
		var log_res_type ="";
		
		get_by_id("log_system_activity").value = get_checked_value(get_by_id("type1"));
		get_by_id("log_debug_information").value = get_checked_value(get_by_id("type2"));
		get_by_id("log_attacks").value = get_checked_value(get_by_id("type3"));
		get_by_id("log_dropped_packets").value = get_checked_value(get_by_id("type4"));
		get_by_id("log_notice").value = get_checked_value(get_by_id("type5"));
				
		if (get_by_id("type1").checked==true){
				log_res_type = "system";
		}
		if (get_by_id("type2").checked==true){
				log_res_type = log_res_type +"| debug" ;
		}
		if (get_by_id("type3").checked==true){
				log_res_type = log_res_type +"| attack";
		}
		if (get_by_id("type4").checked==true){
				log_res_type = log_res_type +"| dropped";
		}
		if (get_by_id("type5").checked==true){
				log_res_type = log_res_type +"| notice";
		}
		
		get_by_id("log_response_type").value =log_res_type;
	}
	
	function enable_smtp_auth(){
		var smtp_enable = get_by_name("log_email_auth");
		
		get_by_id("log_email_username").disabled = smtp_enable[1].checked;
		get_by_id("log_email_password").disabled = smtp_enable[1].checked;		
	}
	
	function email_sch_auth(){

		var enabled = get_by_name("email_sch");
		get_by_id("email_sch_day").disabled = enabled[0].checked;
		get_by_id("email_sch_time").disabled = enabled[0].checked;
		get_by_id("email_sch_ampm").disabled = enabled[0].checked;
	}
	
	function send_request(){
		var syslog_server = get_by_id("sys_server").value;
		var syslog_server_msg = replace_msg(all_ip_addr_msg,get_words('li_msg156'));
		var temp_sys_ip_obj = new addr_obj(syslog_server.split("."), syslog_server_msg, false, false);
		var s_hour,start_time_total,end_time_total,temp_hour;
		
		var mail_server = get_by_id("log_email_server").value;
		if(mail_server != "")
		{
			var email_server_port = get_by_id("log_email_server_port").value;
			if (!check_port(email_server_port)){
				alert(msg[MSG25]);	
				return false;
			}
		}
		
		if (syslog_server != "" && syslog_server != "0.0.0.0"){
			if (!check_address(temp_sys_ip_obj)){		
				return false;
			}
			
			get_by_id("syslog_server").value = "1/"+ get_by_id("sys_server").value;
		}else{
			get_by_id("syslog_server").value = "0/0.0.0.0";
		}

var email_sch = get_by_name("email_sch");
		if (email_sch[0].checked){	//log full
			get_by_id("log_email_schedule").value = "1/0/0/email_schedule_name";
		}else{	//schedule
			get_by_id("log_email_schedule").value = "0/25/0/email_schedule_name";
			var time_t = parseInt(get_by_id("email_sch_time").value,10);

			if(get_by_id("email_sch_ampm").selectedIndex ==1){	//pm				
				s_hour = time_t+12;				
			}else{												//am
				if(time_t<10){
					s_hour ="0" + time_t;					
				}else{
					s_hour = time_t;
				}
			}
			
			start_time_total =s_hour + ":00";			
			end_time_total = s_hour + ":01";
			
			// special case for cross day 
			if(start_time_total == "24:00"){
				start_time_total = "23:59";
				end_time_total = "24:00";
			}
	
			var dat ="email_schedule_name/"+ get_by_id("email_sch_day").value +"/"+ start_time_total +"/"+ end_time_total;
			get_by_id("schedule_rule_00").value = dat;			
		}

		//save_system_cfg();
		
		copyDataToDataModelFormat();
		send_submit("form2");
	}

	function copyDataToDataModelFormat()
	{
		get_by_id("emailCfg_AuthenticationEnable_1.1.0.0.0").value = get_checked_value(get_by_name("log_email_auth"));
		get_by_id("emailCfg_AccountName_1.1.0.0.0").value = get_by_id("log_email_username").value;
		get_by_id("emailCfg_AccountPassword_1.1.0.0.0").value = get_by_id("log_email_password").value;
		get_by_id("emailCfg_SMTPServerAddress_1.1.0.0.0").value = get_by_id("log_email_server").value;
		get_by_id("emailCfg_EmailFrom_1.1.0.0.0").value = get_by_id("log_email_sender").value;
		get_by_id("emailCfg_EmailTo_1.1.0.0.0").value = get_by_id("log_email_recipien").value;
		get_by_id("emailCfg_LogOnFullEnable_1.1.0.0.0").value = (get_by_name("email_sch")[0].checked == true)? "1":"0";
		get_by_id("emailCfg_LogOnScheduleEnable_1.1.0.0.0").value = (get_by_name("email_sch")[1].checked == true)? "1":"0";
		get_by_id("emailCfg_LogScheduleDay_1.1.0.0.0").value = get_by_id("email_sch_day").selectedIndex;
		get_by_id("emailCfg_LogScheduleHour_1.1.0.0.0").value = get_by_id("email_sch_time").value;
		get_by_id("emailCfg_LogScheduleMeridiem_1.1.0.0.0").value = get_by_id("email_sch_ampm").value;
		get_by_id("emailCfg_SMTPServerPort_1.1.0.0.0").value = get_by_id("log_email_server_port").value;
		get_by_id("sysLog_SysLogServerAddress_1.1.0.0.0").value = get_by_id("sys_server").value;
		get_by_id("sysLog_OptionSystemActivity_1.1.0.0.0").value = get_checked_value(get_by_id("type1"));
		get_by_id("sysLog_OptionDebugInfo_1.1.0.0.0").value = get_checked_value(get_by_id("type2"));
		get_by_id("sysLog_OptionAttack_1.1.0.0.0").value = get_checked_value(get_by_id("type3"));
		get_by_id("sysLog_OptionDroppedPacket_1.1.0.0.0").value = get_checked_value(get_by_id("type4"));
		get_by_id("sysLog_OptionNotice_1.1.0.0.0").value = get_checked_value(get_by_id("type5"));
		
		if(curr_log_server == get_by_id("sys_server").value)
			get_by_id("ccpSubEvent2").value = "none";
	}
</SCRIPT>
</head>

<body onLoad="MM_preloadImages('but_wizard_1.gif','but_status_1.gif','but_tools_1.gif','but_main_1.gif','but_wireless_1.gif','but_routing_1.gif','but_access_1.gif','but_management_1.gif');loadSettings()">
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="20%" height="429" valign="top"><table width="56%" border="0" cellpadding="0" cellspacing="0">
              <tr>
				<td onclick="location.href='lan.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG749');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>	
				</a></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
				<td onclick="location.href='wireless_basic.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wireless')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
				<td onclick="location.href='status.htm'">
				<table class="menu_tb">
				<tr>
					<td class="menu_sel_nw"></td>
					<td class="menu_sel_n"></td>
					<td class="menu_sel_ne"></td>
				</tr>
				<tr>
					<td class="menu_sel_w"></td>
					<td class="menu_sel_m"><b>&nbsp;&nbsp;<script>show_words('_MSG748')</script></td>
					<td class="menu_sel_e"></td>
				</tr>
				<tr>
					<td class="menu_sel_sw"></td>
					<td class="menu_sel_s"></td>
					<td class="menu_sel_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="2" class="submenubg">
                    <tr>
                      <td width="13%" align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td width="87%"><a href="status.htm" class="submenus"><b><script>show_words('_DevInfo');</script> </b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="log.htm" class="submenus"><b><script>show_words('_Log');</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="log_setting.htm" class="submenus"><b><u><script>show_words('_LogSet');</script></u></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="statistic.htm" class="submenus"><b><script>show_words('_Statistic');</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="wla_conn.htm" class="submenus"><b><script>show_words('_Wireless');</script></b></a></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='static_routing.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG747')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='filters.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Access')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='snmp.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG746')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='restart.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Tools')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="show_wizard('wizard.htm',login_Info)">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wizard')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="15" height="15"></td>
              </tr>
            </table>
            <p>&nbsp;</p>
              <p>&nbsp;</p></td>
            <td width="2%"><img src="spacer.gif" width="15" height="15" /></td>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
            <tr>
                  <td class="headerbg2"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 10px 0 10px 0">
                  <tr>
                        <td width="79%"><font color="#FFFFFF" class="textheader" style="margin-left:0; padding-left:0"><script>show_words('_LogSet')</script> </font></td>
                        <td width="21%"><input name="button" type="button" id="help_btn" class="ButtonHelp" onclick="MM_openBrWindow('help_status.htm#status_log_settings','','scrollbars=yes,resizable=yes,width=800,height=550')" value="  " />
								<script>$('#help_btn').val(get_words('_Help'));</script>
                        </td>
                  </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top">
				  <form id="form2" name="form2" method="post" action="get_set.ccp">
					<input type="hidden" name="ccp_act" value="set">
					<input type="hidden" name="ccpSubEvent" value="CCP_SUB_EMAIL">
					<input type="hidden" name="ccpSubEvent2" id="ccpSubEvent2"value="CCP_SUB_SYSLOG">
					<input type="hidden" name="nextPage" value="log_setting.htm">	
					<input type="hidden" name="emailCfg_AuthenticationEnable_1.1.0.0.0" id="emailCfg_AuthenticationEnable_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_AccountName_1.1.0.0.0" id="emailCfg_AccountName_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_AccountPassword_1.1.0.0.0" id="emailCfg_AccountPassword_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_SMTPServerAddress_1.1.0.0.0" id="emailCfg_SMTPServerAddress_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_EmailFrom_1.1.0.0.0" id="emailCfg_EmailFrom_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_EmailTo_1.1.0.0.0" id="emailCfg_EmailTo_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_LogOnFullEnable_1.1.0.0.0" id="emailCfg_LogOnFullEnable_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_LogOnScheduleEnable_1.1.0.0.0" id="emailCfg_LogOnScheduleEnable_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_LogScheduleDay_1.1.0.0.0" id="emailCfg_LogScheduleDay_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_LogScheduleHour_1.1.0.0.0" id="emailCfg_LogScheduleHour_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_LogScheduleMeridiem_1.1.0.0.0" id="emailCfg_LogScheduleMeridiem_1.1.0.0.0" value="">
					<input type="hidden" name="emailCfg_SMTPServerPort_1.1.0.0.0" id="emailCfg_SMTPServerPort_1.1.0.0.0" value="">					
					<input type="hidden" name="sysLog_SysLogServerAddress_1.1.0.0.0" id="sysLog_SysLogServerAddress_1.1.0.0.0" value="">
					<input type="hidden" name="sysLog_OptionSystemActivity_1.1.0.0.0" id="sysLog_OptionSystemActivity_1.1.0.0.0" value="">
					<input type="hidden" name="sysLog_OptionDebugInfo_1.1.0.0.0" id="sysLog_OptionDebugInfo_1.1.0.0.0" value="">
					<input type="hidden" name="sysLog_OptionAttack_1.1.0.0.0" id="sysLog_OptionAttack_1.1.0.0.0" value="">
					<input type="hidden" name="sysLog_OptionDroppedPacket_1.1.0.0.0" id="sysLog_OptionDroppedPacket_1.1.0.0.0" value="">
					<input type="hidden" name="sysLog_OptionNotice_1.1.0.0.0" id="sysLog_OptionNotice_1.1.0.0.0" value="">
				  </form>
				  
				  <form id="form1" name="form1" method="post" action="apply.cgi">
                <input type="hidden" id="email_log_result" name="email_log_result" value='0'>
				<input type="hidden" id="html_response_page" name="html_response_page" value="back.htm">
                <input type="hidden" id="html_response_message" name="html_response_message" value="The setting is saved.">
                <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="log_setting.htm">
                <input type="hidden" id="log_system_activity" name="log_system_activity" value='<% CmoGetCfg("log_system_activity","none"); %>'>
                <input type="hidden" id="log_debug_information" name="log_debug_information" value='<% CmoGetCfg("log_debug_information","none"); %>'>
                <input type="hidden" id="log_attacks" name="log_attacks" value='<% CmoGetCfg("log_attacks","none"); %>'>
                <input type="hidden" id="log_dropped_packets" name="log_dropped_packets" value='<% CmoGetCfg("log_dropped_packets","none"); %>'>
                <input type="hidden" id="log_notice" name="log_notice" value='<% CmoGetCfg("log_notice","none"); %>'>
                <input type="hidden" id="log_response_type" name="log_response_type" value='<% CmoGetCfg("log_response_type","none"); %>'>
                <input type="hidden" id="log_per_page" name="log_per_page" value='<% CmoGetCfg("log_per_page","none"); %>'>
                <input type="hidden" id="log_email_enable" name="log_email_enable" value='<% CmoGetCfg("log_email_enable","none"); %>'>
                <input type="hidden" id="syslog_server" name="syslog_server" value='<% CmoGetCfg("syslog_server","none"); %>'>
		<input type="hidden" id="schedule_rule_00" name="schedule_rule_00" value='<% CmoGetCfg("schedule_rule_00","none"); %>'>
		<input type="hidden" id="log_email_schedule" name="log_email_schedule" value='<% CmoGetCfg("log_email_schedule","none"); %>'>
		<input type="hidden" id="reboot_type" name="reboot_type" value="application">				
                    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                    <tr>
                      <td align="right" class="bgblue"><script>show_words('_SMTPAuth')</script>&nbsp;</td>
                      <td class="bggrey"><input onclick=enable_smtp_auth() type=radio value=1 name=log_email_auth>
						<script>show_words('_Enabled')</script>
 					 <input onclick=enable_smtp_auth() type=radio value=0 name=log_email_auth>
						<script>show_words('_Disabled')</script></td>
                    </tr>
                    <tr>
                      <td align="right" class="bgblue"><script>show_words('_SMTPAccount')</script></td>
                      <td class="bggrey"><input type="text" id="log_email_username" name="log_email_username" size="25" maxlength="32" value="">
                      </td>
                    </tr>
                    <tr>
                      <td align="right" class="bgblue"><script>show_words('_SMTPPwd')</script></td>
                      <td class="bggrey"><input type="password" id="log_email_password" name="log_email_password" size="25" maxlength="32" value="WDB8WvbXdHtZyM8Ms2RENgHlacJghQyGWDB8WvbXdHtZyM8Ms2RENgHlacJghQyG"></td>
                    </tr>
                    <tr>
                      <td align="right" class="bgblue"><script>show_words('_SMTPSer')</script> </td>
                      <td class="bggrey"><input type="text" id="log_email_server" name="log_email_server" size="25" maxlength="31" value=""></td>
                    </tr>
					<tr>
                      <td align="right" class="bgblue"><script>show_words('_SMTPSerPort')</script></td>
                      <td class="bggrey"><input type="text" id="log_email_server_port" name="log_email_server_port" size="5" maxlength="5" value=""></td>
                    </tr>
                    <tr>
                      <td align="right" class="bgblue"><script>show_words('_FromEmail')</script> </td>
                        <td class="bggrey"><input type="text" id="log_email_sender" name="log_email_sender" size="25" maxlength="63" value="">
                        </td>
                    </tr>
                    <!--tr>
                      <td align="right" class="bgblue"><script>show_words('_SMTPAuth')</script> </td>
                      <td class="bggrey">
                      	<input type="radio" name="smtp_enable" value="1" onclick="enable_smtp_auth()"><script>show_words('_Enabled')</script>  <input type="radio" name="smtp_enable" value="0" onclick="enable_smtp_auth()"><script>show_words('_Disabled')</script> </td>
                    </tr-->
                    <!--tr>
                      <td align="right" class="bgblue"><script>show_words('_LogSer')</script> </td>
                      <td class="bggrey"><input type="text" id="log_server" name="log_server" size="16" maxlength="15"></td>
                    </tr-->
                    <tr>
                      <td align="right" valign="top" class="bgblue"><script>show_words('_ToEmail')</script> </td>
                      <td valign="top" class="bggrey"><input type="text" id="log_email_recipien" name="log_email_recipien" size="30" maxlength="99" value=""></td>
                    </tr>
                    <tr>
                      <td align="right" valign="top" class="bgblue">&nbsp;</td>
                      <td valign="top" class="bggrey"><input type="button" value="" name="sendnow" id="sendnow" onClick="check_smtp();"><script>$('#sendnow').val(get_words('_EmailLogNow'));</script></td>
                    </tr>
                    <tr>
                      <td align="right" valign="top" class="bgblue"> <script>show_words('_EmailLog')</script></td>
                      <td valign="top" class="bggrey"><input type="radio" value=0 name="email_sch" onClick="email_sch_auth();"><script>show_words('_LogFull')</script><br><br>
						 <input type="radio" value=1 name="email_sch" onClick="email_sch_auth();">
                         <select id="email_sch_day" name="email_sch_day">
                           <option value="1000000"><script>show_words('_EverySun')</script></option>
                           <option value="0100000"><script>show_words('_EveryMon')</script></option>
                           <option value="0010000"><script>show_words('_EveryTues')</script></option>
                           <option value="0001000"><script>show_words('_EveryWed')</script></option>
                           <option value="0000100"><script>show_words('_EveryThur')</script></option>
                           <option value="0000010"><script>show_words('_EveryFri')</script></option>
                           <option value="0000001"><script>show_words('_EverySat')</script></option>
                           <option value="1111111"><script>show_words('_EveryDay')</script></option>
                         </select>						
                         <script>show_words('_at')</script> 
						<select id="email_sch_time" name="email_sch_time">
							 <option value="0">0</option>
							 <option value="1">1</option>
							 <option value="2">2</option>
							 <option value="3">3</option>
							 <option value="4">4</option>
							 <option value="5">5</option>
							 <option value="6">6</option>
							 <option value="7">7</option>
							 <option value="8">8</option>
							 <option value="9">9</option>
							 <option value="10">10</option>
							 <option value="11">11</option>
							 <option value="12">12</option>
						 </select>
						 <select id="email_sch_ampm" name="email_sch_ampm">
							 <option value="0"><script>show_words('_AM')</script></option>
							 <option value="1"><script>show_words('_PM')</script></option></select>
					    </td>
					</tr>
                    <tr>
                      <td align="right" valign="top" class="bgblue"> <script>show_words('_LogSer')</script></td>
                      <td valign="top" class="bggrey"><input type=text id="sys_server" name="sys_server" size=30 maxlength=99></td>
                    </tr>
                    <tr>
                      <td align="right" valign="top" class="bgblue"><script>show_words('_LogType')</script>
                         </td>
                        <td valign="top" class="bggrey"><input type="checkbox" id="type1" name="type1" value="1">
                        <script>show_words('_SysActivity')</script><br>
                        <input type="checkbox" id="type2" name="type2" value="1">
                        <script>show_words('_DebugInfo')</script><br>
                        <input type="checkbox" id="type3" name="type3" value="1">
                        <script>show_words('_Attacks')</script><br>
                        <input type="checkbox" id="type4" name="type4" value="1">
                        <script>show_words('_DropPacket')</script><br>
                        <input type="checkbox" id="type5" name="type5" value="1">
                        <script>show_words('_Notice')</script></td>
                    </tr>                    
                    <tr>
                      <td align="right" valign="top" class="bgblue">&nbsp;</td>
                        <td height="2" class="bggrey2"><input name="cancel" type="button" class="ButtonSmall" id="cancel" onClick="window.location='log_setting.htm'" value="">
								<script>$('#cancel').val(get_words('_Cancel'));</script>
                            <input name="apply" type="button" class="ButtonSmall" id="apply" onClick="send_request()" value="">
								<script>$('#apply').val(get_words('_Apply'));</script>
                      </td>
                    </tr>
                  </table>
                  </form>                
                    <br>
                  </td>
            </tr>
          </table></td>
        </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
<script>
	var login_who=login_Info;
    if(login_who != "w")
	{
		get_by_id("cancel").disabled = "true";
        get_by_id("apply").disabled = "true";
		get_by_id("sendnow").disabled = "true";
	}
</script>
</body>
</html>
