<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>TRENDNET | modelName | Utility </title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();

	var hw_version 	= dev_info.hw_ver;
	var version 	= dev_info.fw_ver;
	var model		= dev_info.model;
	var login_Info 	= dev_info.login_info;
	var cli_mac 	= dev_info.cli_mac;

	var param = {
		url: "get_set.ccp",
		arg: ""
	};
	
	var pingDst = getUrlEntry("pingDst");
	
	function gup( name ){  
		name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");  
		var regexS = "[\\?&]"+name+"=([^&#]*)";  
		var regex = new RegExp( regexS );  
		var results = regex.exec( window.location.href );  
		if( results == null )    
			return "";  
		else    
			return results[1];
	}

	function onPageLoad(){
		if(login_Info!= "w")
		{
			get_by_id("msg").innerHTML = get_words('_MSG15');
		}
		else
		{
			//get_by_id("msg").innerHTML = "Ping ip address "+pingDst+" "+pingRet;
			get_by_id("msg").innerHTML = get_words('li_msg157')+" " + pingDst + " "+get_words('li_msg158');
		}
		
		get_by_id("html_response_page").value = get_by_id("html_response_return_page").value;
		queryPingRet();
	}
	
	function back(){
		//get_by_id("show_back").style.display = "";
		if(login_Info!= "w"){
			window.location.href ="lan.htm";
		}else{
			window.location.href = get_by_id("html_response_page").value;
		}
	}
	
	function queryPingRet()
	{
		var paramQuery = {
			url: "ping.ccp",
			arg: "ccp_act=queryPingV4Ret"
		};
		
		get_config_obj(paramQuery);
		
		var ret = config_val("ping_result");
		switch(ret)
		{
			case "waiting":
				get_by_id("show_back2").style.display = "none";
				get_by_id("show_cancel").style.display = "";
				setTimeout("queryPingRet()",1*1000);
			return;
			
			case "success":			
			case "fail":
				get_by_id("show_back2").style.display = "";
				get_by_id("show_cancel").style.display = "none";
				get_by_id("msg").innerHTML = get_words('li_msg158')+" "+pingDst+" "+ret;
			return;
		}
	}
	
	function cancePing()
	{
		var paramCancel = {
			url: "ping.ccp",
			arg: "ccp_act=cancelPing&nextPage=ping_test.htm"
		};
		
		ajax_submit(paramCancel);
		//back();
	}
	
	function ajax_submit(p)
	{
		var ajax_param = {
			type: 	"POST",
			async:	true,
			url: 	p.url,
			data: 	p.arg
		};

		$.ajax(ajax_param);
	}
		
</script>
</head>
<body>
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
                <tr>
                  <td class="headerbg2"><script>show_words(_Login)</script></td>
              </tr>
                <tr>
                  <td valign="top">                    <input type="hidden" id="html_response_page" name="html_response_page" value="lan.htm">
                    <input type="hidden" id="html_response_message" name="html_response_message" value='<% CmoGetCfg("html_response_message","none"); %>'>
                    <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="ping_test.htm">
                    <input type="hidden" id="ping_result" name="ping_result" value='<% CmoGetStatus("ping_result"); %>'>                    <TABLE width="98%" border="0" align="center" cellpadding="3" cellspacing="1">
                        <tr>
                          <td bgcolor="#DDDDDD"><p>&nbsp;</p>
                              <table width="70%" border="0" align="center">
                                <tr>
                                  <td height="100"><div id=box_header2>
                                      <div align="center">
										<div id="msg">
										</div>
										<!--
                                        <script>
												//var login_who="<% CmoGetStatus("get_current_user"); %>";
												if(login_Info!= "w"){
													document.write("Only admin account can change the settings.");
												}else{
													//if(get_by_id("html_response_return_page").value != "ping_test.htm"){
														//document.write(get_by_id("html_response_message").value);
													//}else{
														document.write(get_by_id("ping_result").value);
													//}
												}
										</script>
										-->
                                        <br>
                                        <br>
                                        <div id="show_back2" style="display:none"><a href="ping_test.htm" onClick="javascript:back();"><b><script>show_words('_Back')</script></b></a></div>
										<div id="show_cancel" style="display:"><a href="ping_test.htm" onClick="javascript:cancelPing();"><b><script>show_words('_Cancel')</script></b></a></div>
									  </div>
                                  </div></td>
                                </tr>
                              </table>
                            <p>&nbsp;</p></td>
                        </tr>
                                          </table></td></tr>
              </table>
                <br></td>
          </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
</body>
<script>
	onPageLoad();
</script>
</html>
