<html>
<head>
<meta http-equiv="Content-Type" content="text/html;">
<title>TRENDNET | modelName | Access | Special AP</title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();

	var hw_version 	= dev_info.hw_ver;
	var version 	= dev_info.fw_ver;
	var model		= dev_info.model;
	var login_Info 	= dev_info.login_info;
	var cli_mac 	= dev_info.cli_mac;
	
	var param = {
		url: "get_set.ccp",
		arg: ""
	};
	param.arg = "ccp_act=get&num_inst=2";
	param.arg +="&oid_1=IGD_WANDevice_i_PortTriggerRule_i_&inst_1=11000";
	param.arg +="&oid_2=IGD_LANDevice_i_LANHostConfigManagement_&inst_2=11100";
	get_config_obj(param);
	
	var current_rules = 0;
	var array_rules_enable 		= config_str_multi("ptRule_Enable_");
	var array_rules_name 		= config_str_multi("ptRule_ApplicationName_");
	var array_rules_protocolTr	= config_str_multi("ptRule_TriggerProtocol_");
	var array_rules_protocolFw	= config_str_multi("ptRule_FirewallProtocol_");
	var array_rules_portTr		= config_str_multi("ptRule_TriggerPorts_");
	var array_rules_portFw		= config_str_multi("ptRule_FirewallPorts_");
	
	if(array_rules_name != null)
		current_rules = array_rules_name.length;
		
	var array_rules_inst 		= config_inst_multi("IGD_WANDevice_i_PortTriggerRule_i_");

	var lan_ip = config_val("lanHostCfg_IPAddress_");
	
	var DataArray = new Array();
	var rule_max_num = 20;
	
	function DataShow(){
		set_application();
		for (var i=0; i<DataArray.length;i++){
			var port_word = DataArray[i].Protocol + " "+ DataArray[i].Private_port +"/"+ DataArray[i].Pubic_port;
			var enable_name = "enable"+i;
			var trigger_word = DataArray[i].Trigger_protocol;
			var Pubic_word = DataArray[i].Pubic_port;
			var trigger_port = DataArray[i].Trigger_port;
			
			if(trigger_word == "Any"){
				trigger_word = "*";
			}
			if(Pubic_word == "Any"){
				Pubic_word = "*";
			}
			
	        var port = trigger_port.split("-");
        	if (port.length <= 1){
        		DataArray[i].Trigger_port = port[0]+"-"+port[0];
        	}
		
			document.write("<tr bgcolor=\"#F0F0F0\" onClick=\"edit_row("+ i +")\">");
			document.write("<td><input type=\"checkbox\" id=\""+ enable_name +"\" name=\""+ enable_name +"\" value=\"1\"></td>");
			document.write("<td>"+ DataArray[i].Name +"</td>");
			document.write("<td>"+ DataArray[i].Trigger_protocol +" "+ DataArray[i].Trigger_port +"</td>");
			document.write("<td>"+ DataArray[i].Protocol +" "+ DataArray[i].Pubic_port +"</td>");
			document.write("</tr>\n");
			check_box_enabled(i);
		}
	}
	
	function check_box_enabled(num){
		var array_num = num;
		get_by_id("enable"+num).checked = false;
		get_by_id("enable"+num).disabled = true;
		if(parseInt(DataArray[array_num].Enable,10)==1){
			get_by_id("enable"+num).checked = true;
		}
	}
	
	function set_application(){
		var index = 0;
		/*
		for (var i = 0; i < rule_max_num; i++){
			var temp_pf;
			var k=i;
			if(i<10){
				k="0"+i;
			}
			temp_pf = (get_by_id("application_" + k).value).split("/");
			if (temp_pf.length > 1){
				if(temp_pf[1].length > 0){
					DataArray[DataArray.length++] = new Data(temp_pf[0], temp_pf[1], temp_pf[2], temp_pf[3], temp_pf[4], temp_pf[5], temp_pf[6], temp_pf[7], index);
					index++;
				}
			}
		}
		*/

		for (var i = 0; i < current_rules; i++){
			if(array_rules_name[i].length > 0)
			{
				var protocolTr_name = "";
				if(array_rules_protocolTr[i] == "0")
					protocolTr_name = "TCP";
				else if(array_rules_protocolTr[i] == "1")
					protocolTr_name = "UDP";
				else
					protocolTr_name = "Any";
					
				var protocolFw_name = "";
				if(array_rules_protocolFw[i] == "0")
					protocolFw_name = "TCP";
				else if(array_rules_protocolFw[i] == "1")
					protocolFw_name = "UDP";
				else
					protocolFw_name = "Any";
					
				DataArray[DataArray.length++] = new Data(array_rules_enable[i]
														,array_rules_name[i]
														,lan_ip
														,protocolTr_name
														,array_rules_portTr[i]
														,protocolFw_name
														,array_rules_portFw[i]
														,"Always"
														,i);
			}
		}
	}
	
	//1/app1/192.168.0.100/UDP/2000-2012/UDP/2000-2006/Always
	function Data(enable, name, lanip, trigger_protocol, trigger_port, protocol, public_port, schedule, onList) 
	{
		this.Enable = enable;
		this.Name = name;
		this.LANIP = lanip;
		this.Trigger_protocol = trigger_protocol;
		this.Trigger_port = trigger_port;
		this.Protocol = protocol;
		this.Pubic_port = public_port;
		this.Schedule = schedule;
		this.OnList = onList;
	}
	
	function del_row(){
        var index = parseInt(get_by_id("edit_row").value,10);
        if(confirm(addstr(msg[MSG16],get_words('__special_ap')))){
        	for(i=index ; i<DataArray.length-1 ;i++){
				DataArray[i].Enable = DataArray[i+1].Enable;
				DataArray[i].Name = DataArray[i+1].Name;
				DataArray[i].LANIP = DataArray[i+1].LANIP;
				DataArray[i].Trigger_protocol = DataArray[i+1].Trigger_protocol;
				DataArray[i].Trigger_port = DataArray[i+1].Trigger_port;
				DataArray[i].Protocol = DataArray[i+1].Protocol;
				DataArray[i].Pubic_port = DataArray[i+1].Pubic_port;
				DataArray[i].Schedule = DataArray[i+1].Schedule;
				DataArray[i].OnList = DataArray[i+1].OnList;
			}
			--DataArray.length;
			save_to_cfg();
			get_by_id("reboot_type").value = get_words('__filter');
			
			get_by_id("inst_1").value = "1.1."+ array_rules_inst[index][2] +".0.0";
			send_submit("form3");
			return true;
        }
        return false;
    }

       
    function edit_row(row){
    	var row_obj = get_by_id("table1").rows[row+1];        
        var enable = get_by_name("enable");
        var temp_data1, temp_data2;
        var port;
        
        if (get_by_id("enable" + row).checked){
        	enable[0].checked = true;
        }else{
        	enable[1].checked = true;
        }
        get_by_id("special_name").value = get_row_data(row_obj, 1);
        
        temp_data1 = get_row_data(row_obj, 2).split(" ");
        set_selectIndex(DataArray[row].Trigger_protocol, get_by_id("trigger_protocol"));
        port = temp_data1[1].split("-");
        get_by_id("start_port").value = port[0];        
        if (port.length > 1){
        	get_by_id("end_port").value = port[1];
        }else{
        	get_by_id("end_port").value = port[0];
        }
        
        temp_data2 = get_row_data(row_obj, 3).split(" ");
        set_selectIndex(DataArray[row].Protocol, get_by_id("incoming_protocol"));
        get_by_id("incoming_port").value = temp_data2[1];
            	    	    	        
        get_by_id("edit_row").value = row;
        get_by_id("add").disabled = true;
        get_by_id("update").disabled = false;
        get_by_id("del").disabled = false;
        change_color("table1", row+1);
    	var login_who=login_Info;
	    if(login_who != "w")
    	{
        	get_by_id("add").disabled  = "true";
        	get_by_id("del").disabled  = "true";
        	get_by_id("cancel").disabled  = "true";
        	get_by_id("update").disabled  = "true";
    	}
	}
    
    function clear_row(){
        get_by_id("edit_row").value = "-1";
        change_color("table1", -1);
        location.href = "special_ap.htm";
    }
    
	function send_request(){		
		var special_name = get_by_id("special_name").value;
		var start_port = get_by_id("start_port").value;
		var end_port = get_by_id("end_port").value;
		var incoming_port_all = get_by_id("incoming_port").value;
		var incoming_port = get_by_id("incoming_port").value.split(",");
		var index;
			
		if (special_name == ""){
			alert(msg[MSG18]);
			return false;
		}
				
		if (!check_port(start_port)){
			alert(msg[MSG30]);	
			return false;
		}
				
		if (!check_port(end_port)){
			alert(msg[MSG30]);	
			return false;
		}
		
		if(incoming_port_all == ""){
			alert(msg[MSG31]);	
			return false;
		}

		var tmp_port;
		if(parseInt(end_port) < parseInt(start_port)){
			tmp_port = start_port;
			start_port = end_port;
			end_port = tmp_port;
		}
			
		for (index = 0; index < incoming_port.length; index++){
			var port = incoming_port[index].split("-");
			
			if (index == 5){
				break;
			}
			
			get_by_id("port" + (index+1) + "1").value = port[0];  				
			if (port.length > 1){
				get_by_id("port" + (index+1) + "2").value = port[1];
			}else{
				get_by_id("port" + (index+1) + "2").value = port[0];
			}
		}
			
		for (; index < 5; index++){
			get_by_id("port" + (index+1) + "1").value = "";
			get_by_id("port" + (index+1) + "2").value = "";
		}
					
		for (var i = 1; i < 6; i++){
			var temp_port1 = get_by_id("port" + i + "1").value;
			var temp_port2 = get_by_id("port" + i + "2").value;
			
			if (temp_port1 != ""){
				if (!check_port(temp_port1)){
	 				alert(msg[MSG31]);
	 				return false;
	 			}
			}
			
			if (temp_port2 != ""){
				if (!check_port(temp_port2)){
	 				alert(msg[MSG31]);
	 				return false;
	 			}
			}				
		}
		
		var index_num = parseInt(get_by_id("edit_row").value,10);
		//double name check
		for(i=0;i<DataArray.length;i++){
			if(DataArray[i].Name==get_by_id("special_name").value){
				if(DataArray[i].Name != "" && index_num==(DataArray[i].OnList)){
					continue;
				}else{
					alert(addstr(msg[MSG41],get_words('_SpecialAPname')));
					return false;
				}			
			}
			
			if(DataArray[i].Trigger_protocol == get_by_id("trigger_protocol").value){
				var in_port_start = pi(get_by_id("start_port").value);
				var in_port_end = pi(get_by_id("end_port").value);
				var in_port_array = DataArray[i].Trigger_port.split("-");
				
				if (((in_port_start >= in_port_array[0]) && (in_port_start <= in_port_array[1])) || 
		            ((in_port_end >= in_port_array[0]) && (in_port_end <= in_port_array[1])) ||
		            ((in_port_array[0] >= in_port_start) && (in_port_array[0] <= in_port_end)) ||
		            ((in_port_array[1] >= in_port_start) && (in_port_array[1] <= in_port_end))
					){
					
					if(index_num==(DataArray[i].OnList)){
						continue;
					}else{		// if add a new port forwarding
						alert(addstr(msg[MSG28],get_words('_Trigger')+" "));		
						return false;
					}
				}
			}
			
			
			if(DataArray[i].Protocol == get_by_id("incoming_protocol").value){
				if(DataArray[i].Pubic_port==get_by_id("incoming_port").value){
					if(index_num==(DataArray[i].OnList)){
						continue;
					}else{		// if add a new name
						alert(addstr(msg[MSG28],get_words('_Incoming')+" "));		
						return false;
					}
				}
			}
		}

		//save data ::edit
		if(index_num > -1){
			DataArray[index_num].Enable = get_checked_value(get_by_name("enable"));
			DataArray[index_num].Name = special_name;
			DataArray[index_num].Trigger_protocol = get_by_id("trigger_protocol").value;
			if(start_port == end_port){
				DataArray[index_num].Trigger_port = start_port;
			}else{
				DataArray[index_num].Trigger_port = start_port +"-"+ end_port;
			}
			DataArray[index_num].Protocol = get_by_id("incoming_protocol").value;
			DataArray[index_num].Pubic_port = incoming_port;
			update_filter(index_num);
		}else{   //save add data
			var max_num = DataArray.length;
			if(parseInt(max_num,10)> rule_max_num){
				alert(get_words('_MSG40')+" "+ rule_max_num)
				return false;
			}
			
			if(start_port == end_port){
				DataArray[DataArray.length++] = new Data(get_checked_value(get_by_name("enable")),special_name, "Any", get_by_id("trigger_protocol").value, start_port, get_by_id("incoming_protocol").value, incoming_port, "Always", DataArray.length);
			}else{
				DataArray[DataArray.length++] = new Data(get_checked_value(get_by_name("enable")),special_name, "Any", get_by_id("trigger_protocol").value, start_port +"-"+ end_port, get_by_id("incoming_protocol").value, incoming_port, "Always", DataArray.length);
			}
			add_filter();
		}
		save_to_cfg();
		get_by_id("reboot_type").value = get_words('_Filter');
    	return true;
	
    	return true;
	}

	function save_to_cfg(){
		for(k=0; k<rule_max_num; k++){
			var now_num = k;
			if(parseInt(k,10)<10){
				now_num = "0"+k;
			}
			var temp_vs ="";
			var tmp_trigger="";
			var data="";
			if(k<DataArray.length){
				tmp_trigger=DataArray[k].Trigger_port.split("-");
				if(tmp_trigger[0]==tmp_trigger[1]){
					data=tmp_trigger[0];
				}else{
					data=DataArray[k].Trigger_port;
				}	
				temp_vs = DataArray[k].Enable +"/"+ DataArray[k].Name + "/" + DataArray[k].LANIP
					+ "/" + DataArray[k].Trigger_protocol + "/" + data
					+ "/" + DataArray[k].Protocol + "/" + DataArray[k].Pubic_port
					+ "/" + DataArray[k].Schedule;
			}
			get_by_id("application_"+now_num).value = temp_vs;
		}
	}

	function config_submit_items(instStr)
	{
		get_by_id("submit_items").innerHTML = '<input type="hidden" name="ptRule_Enable_'+instStr+'" id="ptRule_Enable_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="ptRule_ApplicationName_'+instStr+'" id="ptRule_ApplicationName_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="ptRule_TriggerPorts_'+instStr+'" id="ptRule_TriggerPorts_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="ptRule_FirewallPorts_'+instStr+'" id="ptRule_FirewallPorts_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="ptRule_TriggerProtocol_'+instStr+'" id="ptRule_TriggerProtocol_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="ptRule_FirewallProtocol_'+instStr+'" id="ptRule_FirewallProtocol_'+instStr+'" value="">';
		
		get_by_id("ptRule_Enable_"+instStr).value = get_checked_value(get_by_name("enable"));
		get_by_id("ptRule_ApplicationName_"+instStr).value = get_by_id("special_name").value;
		get_by_id("ptRule_TriggerPorts_"+instStr).value = get_by_id("start_port").value;
		if(get_by_id("end_port").value != "")
			get_by_id("ptRule_TriggerPorts_"+instStr).value += "-"+get_by_id("end_port").value;
			
		get_by_id("ptRule_FirewallPorts_"+instStr).value = get_by_id("incoming_port").value;
		get_by_id("ptRule_TriggerProtocol_"+instStr).value = get_by_id("trigger_protocol").selectedIndex;
		get_by_id("ptRule_FirewallProtocol_"+instStr).value = get_by_id("incoming_protocol").selectedIndex;
	}
	
	function add_filter()
	{
		param.arg = "ccp_act=queryInst&num_inst=1";
		param.arg +="&oid_1=IGD_WANDevice_i_PortTriggerRule_i_&inst_1=11000";
		get_config_obj(param);
		var instStr = config_val("newInst");
		config_submit_items(instStr);
		send_submit("form2");
	}
	
	function update_filter(index)
	{
		var instStr = "1.1."+ array_rules_inst[index][2] +".0.0";
		config_submit_items(instStr);
		send_submit("form2");
	}
	
</SCRIPT>
</head>

<body onLoad="MM_preloadImages('but_wizard_1.gif','but_status_1.gif','but_tools_1.gif','but_main_1.gif','but_wireless_1.gif','but_routing_1.gif','but_access_1.gif','but_management_1.gif')">
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20%" height="429" valign="top"><table width="56%" border="0" cellpadding="0" cellspacing="0">
              <tr>
              <td onclick="location.href='lan.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG749');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>	
				</a></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                 <td onclick="location.href='wireless_basic.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wireless');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                 <td onclick="location.href='status.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG748');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
               <td onclick="location.href='static_routing.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG747');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
              <td onclick="location.href='filters.htm'">
				<table class="menu_tb">
				<tr>
					<td class="menu_sel_nw"></td>
					<td class="menu_sel_n"></td>
					<td class="menu_sel_ne"></td>
				</tr>
				<tr>
					<td class="menu_sel_w"></td>
					<td class="menu_sel_m"><b>&nbsp;&nbsp;<script>show_words('_Access');</script></td>
					<td class="menu_sel_e"></td>
				</tr>
				<tr>
					<td class="menu_sel_sw"></td>
					<td class="menu_sel_s"></td>
					<td class="menu_sel_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="2" class="submenubg">
                    <tr>
                      <td width="13%" align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td width="87%"><a href="filters.htm" class="submenus"><b><script>show_words('_Filter')</script> </b></a></td>
                    </tr>
                    <!--<tr>
                  <td align="right"><font color="#FFFFFF">&bull;</font></td>
                  <td><a href="inbound_filter.htm" class="submenus"><b><script>show_words('_MSG736')</script> </b></a></td>
                </tr>-->
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="virtual_server.htm" class="submenus"><b><script>show_words('_VirtualSer')</script> </b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="special_ap.htm" class="submenus"><b><u><script>show_words('_SpecialAP')</script> </u></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="dmz.htm" class="submenus"><b><script>show_words('_DMZ')</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="firewall_setting.htm" class="submenus"><b><script>show_words('_FirewallRule')</script></b></a></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                 <td onclick="location.href='snmp.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG746');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='restart.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Tools');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
               <td onclick="show_wizard('wizard.htm',login_Info)">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wizard');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="15" height="15"></td>
              </tr>
            </table>
            <p>&nbsp;</p>
              <p>&nbsp;</p></td>
            <td width="2%"><img src="spacer.gif" width="15" height="15" /></td>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
                <tr>
                  <td class="headerbg2"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 10px 0 10px 0">
                      <tr>
                        <td width="79%"><font color="#FFFFFF" class="textheader" style="margin-left:0; padding-left:0"><script>show_words('_SpecialAP')</script></font></td>
                        <td width="21%"><input name="button" type="button" id="help_btn" class="ButtonHelp" onclick="MM_openBrWindow('help_access.htm#access_special_ap','','scrollbars=yes,resizable=yes,width=800,height=550')" value="" />
								<script>$('#help_btn').val(get_words('_Help'));</script>
                        </td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top">
				  <form id="form3" name="form3" method="post" action="get_set.ccp">
					<input type="hidden" name="ccp_act" value="del">
					<input type="hidden" name="ccpSubEvent" value="CCP_SUB_PORTTRIGGER">
					<input type="hidden" name="nextPage" value="special_ap.htm">	
					<input type="hidden" name="num_inst" id="num_inst" value="1">
					<input type="hidden" name="oid_1" id="oid_1" value="IGD_WANDevice_i_PortTriggerRule_i_">
					<input type="hidden" name="inst_1" id="inst_1" value="">
				  </form>
				  
				  <form id="form2" name="form2" method="post" action="get_set.ccp">
					<input type="hidden" name="ccp_act" value="set">
					<input type="hidden" name="ccpSubEvent" value="CCP_SUB_PORTTRIGGER">
					<input type="hidden" name="nextPage" value="special_ap.htm">	
					<span id="submit_items">
					</span>
				  </form>
				  
				  <form id="form1" name="form1" method="post" action="apply.cgi">
                    <input type="hidden" id="html_response_page" name="html_response_page" value="back.htm">
                    <input type="hidden" id="html_response_message" name="html_response_message" value="Settings Saved.">
                    <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="special_ap.htm">
                    <input type="hidden" id="reboot_type" name="reboot_type" value="filter">
                    <input type="hidden" id="application_00" name="application_00" value='<% CmoGetCfg("application_00","none"); %>'>
                    <input type="hidden" id="application_01" name="application_01" value='<% CmoGetCfg("application_01","none"); %>'>
                    <input type="hidden" id="application_02" name="application_02" value='<% CmoGetCfg("application_02","none"); %>'>
                    <input type="hidden" id="application_03" name="application_03" value='<% CmoGetCfg("application_03","none"); %>'>
                    <input type="hidden" id="application_04" name="application_04" value='<% CmoGetCfg("application_04","none"); %>'>
                    <input type="hidden" id="application_05" name="application_05" value='<% CmoGetCfg("application_05","none"); %>'>
                    <input type="hidden" id="application_06" name="application_06" value='<% CmoGetCfg("application_06","none"); %>'>
                    <input type="hidden" id="application_07" name="application_07" value='<% CmoGetCfg("application_07","none"); %>'>
                    <input type="hidden" id="application_08" name="application_08" value='<% CmoGetCfg("application_08","none"); %>'>
                    <input type="hidden" id="application_09" name="application_09" value='<% CmoGetCfg("application_09","none"); %>'>
                    <input type="hidden" id="application_10" name="application_10" value='<% CmoGetCfg("application_10","none"); %>'>
                    <input type="hidden" id="application_11" name="application_11" value='<% CmoGetCfg("application_11","none"); %>'>
                    <input type="hidden" id="application_12" name="application_12" value='<% CmoGetCfg("application_12","none"); %>'>
                    <input type="hidden" id="application_13" name="application_13" value='<% CmoGetCfg("application_13","none"); %>'>
                    <input type="hidden" id="application_14" name="application_14" value='<% CmoGetCfg("application_14","none"); %>'>
                    <input type="hidden" id="application_15" name="application_15" value='<% CmoGetCfg("application_15","none"); %>'>
                    <input type="hidden" id="application_16" name="application_16" value='<% CmoGetCfg("application_16","none"); %>'>
                    <input type="hidden" id="application_17" name="application_17" value='<% CmoGetCfg("application_17","none"); %>'>
                    <input type="hidden" id="application_18" name="application_18" value='<% CmoGetCfg("application_18","none"); %>'>
                    <input type="hidden" id="application_19" name="application_19" value='<% CmoGetCfg("application_19","none"); %>'>
                    <input type="hidden" id="edit_row" name="edit_row">
                    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                      <tr>
                        <td width="150" align="right" class="bgblue"><script>show_words('_Enabled')</script></td>
                        <td width="275" colspan="2"  class="bggrey"><input type="radio" name="enable" value="1">
                          <script>show_words('_Enabled')</script>
                          <input type="radio" name="enable" value="0" checked>
                          <script>show_words('_Disabled')</script> </td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_Name')</script></td>
                        <td colspan="2"  class="bggrey"><input type="text" id="special_name" name="special_name" size="32" maxlength="31"></td>
                      </tr>
                      <tr>
                        <td align="right" valign="top" class="bgblue"><script>show_words('_Trigger')</script></td>
                        <td height="19" colspan="2" nowrap class="bggrey"><table width="100%" border="0" cellpadding="2" cellspacing="1">
                          <tr>
                            <td align="right" nowrap bgcolor="#333333" class="bggrey"><script>show_words('_Protocol')</script></td>
                            <td width="275" bgcolor="#333333"  class="bggrey"><select size="1" id="trigger_protocol" name="trigger_protocol">
                                <option value="TCP"><script>show_words('_TCP')</script></option>
                                <option value="UDP"><script>show_words('_UDP')</script></option>
                                <option value="Any">*</option>
                            </select></td>
                          </tr>
                          <tr>
                            <td align="right" nowrap bgcolor="#333333" class="bggrey"><script>show_words('_PortRange')</script></td>
                            <td width="275" bgcolor="#333333" class="bggrey"><input type="text" id="start_port" name="start_port" size="6" maxlength="5">
                              -
                              <input type="text" id="end_port" name="end_port" size="6" maxlength="5"></td>
                          </tr>
                        </table></td>
                      </tr>
                      
                      <tr>
                        <td align="right" valign="top" class="bgblue"><script>show_words('_Incoming')</script></td>
                        <td colspan="2" nowrap class="bggrey"><table width="100%" border="0" cellpadding="2" cellspacing="1">
                          <tr>
                            <td align="right" nowrap bgcolor="#333333" class="bggrey"><script>show_words('_Protocol')</script></td>
                            <td width="275" bgcolor="#333333"  class="bggrey"><select size="1" id="incoming_protocol" name="incoming_protocol">
                                <option value="TCP"><script>show_words('_TCP')</script></option>
                                <option value="UDP"><script>show_words('_UDP')</script></option>
                                <option value="Any">*</option>
                              </select>                            </td>
                          </tr>
                          <tr>
                            <td align="right" valign="top" nowrap bgcolor="#333333" class="bggrey"><script>show_words('_Port')</script></td>
                            <td width="275" bgcolor="#333333" class="bggrey"><input type="text" id="incoming_port" name="incoming_port" size="30" maxlength="60">
                                <input type=hidden id="port11" name="port11">
                                <input type=hidden id="port12" name="port12">
                                <input type=hidden id="port21" name="port21">
                                <input type=hidden id="port22" name="port22">
                                <input type=hidden id="port31" name="port31">
                                <input type=hidden id="port32" name="port32">
                                <input type=hidden id="port41" name="port41">
                                <input type=hidden id="port42" name="port42">
                                <input type=hidden id="port51" name="port51">
                                <input type=hidden id="port52" name="port52">                            </td>
                          </tr>
                        </table></td>
                      </tr>
                      
                      <tr>
                        <td align="right" class="bgblue">&nbsp;</td>
                        <td height="2" colspan="2" class="bggrey2"><input name="add" type="button" class="ButtonSmall" id="add" onClick="return send_request()" value=""><script>$('#add').val(get_words('_Add'));</script>
        <input name="update" type="button" disabled class="ButtonSmall" id="update" onClick="return send_request()" value=""><script>$('#update').val(get_words('_update'));</script>
                          <br>
                          <input name="del" type="button" disabled class="ButtonSmall" id="del" onClick="return del_row()" value=""><script>$('#del').val(get_words('_Delete'));</script>
                            <input id="cancel" name="cancel" type="button" class="ButtonSmall" onClick="clear_row()" value=""> <script>$('#cancel').val(get_words('_Cancel'));</script>                       </td>
                      </tr>
                    </table>
                  </form>
                    <br>
                    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333" id="table1">
                      <tr align="center">
                        <td bgcolor="#DDDDDD"><b>&nbsp;</b></td>
                        <td bgcolor="#DDDDDD"><b><script>show_words('_Name')</script></b></td>
                        <td bgcolor="#DDDDDD"><b><script>show_words('_TriggerPortRange')</script></b></td>
                        <td bgcolor="#DDDDDD"><b><script>show_words('_IncomingPort')</script></b></td>
                      </tr>
                      <script>DataShow();</script>
                    </table>
                    <br>
                  </td>
                </tr>
            </table></td>
          </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
<script>
    var login_who=login_Info;
    if(login_who != "w")
    {
        get_by_id("add").disabled  = "true";
        get_by_id("del").disabled  = "true";
        get_by_id("cancel").disabled  = "true";
        get_by_id("update").disabled  = "true";
    }
</script>
</body>
</html>
