<html>
<head>
<meta http-equiv="Content-Type" content="text/html;">
<title>TRENDNET | modelName | Routing | Static</title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();

	var hw_version 	= dev_info.hw_ver;
	var version 	= dev_info.fw_ver;
	var model		= dev_info.model;
	var login_Info 	= dev_info.login_info;
	var cli_mac 	= dev_info.cli_mac;
	
	var param = {
		url: "get_set.ccp",
		arg: ""
	};
	param.arg = "ccp_act=get&num_inst=7";
	param.arg +="&oid_1=IGD_LANDevice_i_LANHostConfigManagement_&inst_1=11100";
	param.arg +="&oid_2=IGD_WANDevice_i_WANConnectionDevice_i_&inst_2=11100";
	param.arg +="&oid_3=IGD_WANDevice_i_WANConnectionDevice_i_PPPoE_i_&inst_3=11110";
	param.arg +="&oid_4=IGD_WANDevice_i_WANConnectionDevice_i_PPTP_i_&inst_4=11110";
	param.arg +="&oid_5=IGD_WANDevice_i_WANConnectionDevice_i_RSPPPoE_i_&inst_5=11110";
	param.arg +="&oid_6=IGD_Layer3Forwarding_Forwarding_i_&inst_6=11000";
	param.arg +="&oid_7=IGD_Status_WANStatus_&inst_7=11100";
	
	get_config_obj(param);	
	
	var current_rules = 0;
	var array_rules_enable 		= config_str_multi("fwdRule_Enable_");
	var array_rules_destip 		= config_str_multi("fwdRule_DestIPAddress_");
	var array_rules_destmask	= config_str_multi("fwdRule_DestSubnetMask_");
	var array_rules_srciface	= config_str_multi("fwdRule_SourceInterface_");
	var array_rules_gwip		= config_str_multi("fwdRule_GatewayIPAddress_");
	var array_rules_fwdmetric	= config_str_multi("fwdRule_ForwardingMetric_");
	
	if(array_rules_destip != null)
		current_rules = array_rules_destip.length;
		
	var array_rules_inst 		= config_inst_multi("IGD_Layer3Forwarding_Forwarding_i_");
	
	var DataArray = new Array();
	var rule_max_num = 20;
	function loadsetting()
	{
		get_by_id("cur_ipaddr").value = config_val("lanHostCfg_IPAddress_");
		get_by_id("cur_netmask").value = config_val("lanHostCfg_SubnetMask_");
		
		//var temp_wan_poto=get_by_id("wan_proto").value;
		var temp_wan_poto="1"; 
		if(config_val("wanConnDev_CurrentConnObjType_"))
			temp_wan_poto = config_val("wanConnDev_CurrentConnObjType_");
/*DEF   CONFIG_RUSPPTP*/		var temp_wan_pptp_russia_enable=get_by_id("wan_pptp_russia_enable").value;
/*DEF   CONFIG_RUSPOE*/		var temp_wan_pppoe_russia_enable=get_by_id("wan_pppoe_russia_enable").value;
/*DEF	CONFIG_RUSPOE*/		var temp_russia_wan_phy_ipaddr=get_by_id("russia_wan_phy_ipaddr").value;
		var temp_interface_list="LAN,WAN,WAN_PHY";
		var interface_list = temp_interface_list.split(",");
		var count = 0;
		var obj=get_by_id("iface");
		
		//if ((temp_wan_poto == "pptp")||(temp_wan_poto == "pppoe"))
		//{
/*DEF   CONFIG_RUSPOE*/			//if((temp_wan_pptp_russia_enable == "1")||(temp_wan_pppoe_russia_enable == "1"))
								if(temp_wan_poto == "6" || temp_wan_poto == "7" || temp_wan_poto == "8")
/*DEF   CONFIG_RUSPOE*/			{
/*DEF   CONFIG_RUSPOE*/				for(var i=0;i<interface_list.length; i++)
/*DEF   CONFIG_RUSPOE*/				{
/*DEF   CONFIG_RUSPOE*/					var ooption = document.createElement("option");						
/*DEF   CONFIG_RUSPOE*/					ooption.text = interface_list[i];
/*DEF   CONFIG_RUSPOE*/					ooption.value = interface_list[i];
/*DEF   CONFIG_RUSPOE*/					obj.options[count++] = ooption;
/*DEF   CONFIG_RUSPOE*/				}
/*DEF   CONFIG_RUSPOE*/			}
/*DEF   CONFIG_RUSPOE*/			else if(temp_wan_poto == "2" || temp_wan_poto == "3")
								{
									for(var i=0;i<interface_list.length-1; i++)
									{
										var ooption = document.createElement("option");						
										ooption.text = interface_list[i];
										ooption.value = interface_list[i];
										obj.options[count++] = ooption;
									}
								}
								else
								{
									for(var i=0;i<interface_list.length-1; i++)
									{
										var ooption = document.createElement("option");						
										ooption.text = interface_list[i];
										ooption.value = interface_list[i];
										obj.options[count++] = ooption;
									}
								}
	}
	function DataShow(){
		set_routes();
		for (var i=0; i<DataArray.length;i++)
		{
			if (i<26)
			{
				document.write("<tr bgcolor=\"#F0F0F0\" onClick=\"edit_row("+ i +")\">");
				document.write("<td>"+ DataArray[i].Ip_addr +"</td>");
				document.write("<td>"+ DataArray[i].Net_mask +"</td>");
				document.write("<td>"+ DataArray[i].Gateway +"</td>");
				document.write("<td>"+ DataArray[i].Interface +"</td>");
				document.write("<td>"+ DataArray[i].Metric +"</td>");
				document.write("</tr>\n");
			}
		}
	}
	
	//0/name/192.168.31.0/255.255.255.0/192.168.31.1/192.168.31.1/20
	function Data(enable, name, ip_addr, net_mask, gateway, interface, metric, onList) 
	{
		this.Enable = enable;
		this.Name = name;
		this.Ip_addr = ip_addr
		this.Net_mask = net_mask
		this.Gateway = gateway
		this.Interface = interface;
		this.Metric = metric;
		this.OnList = onList;
	}
	
	function set_routes(){
		var index = 1;
		/*
		for (var i=0;i<rule_max_num;i++){
			var temp_st;
			var k=i;
			if(parseInt(i,10)<10){
				k="0"+i;
			}
			temp_st = (get_by_id("static_routing_" + k).value).split("/");
			if (temp_st.length > 1){
				if(temp_st[1] != "name"){
					DataArray[DataArray.length++] = new Data(temp_st[0],temp_st[1], temp_st[2], temp_st[3],temp_st[4],temp_st[5],temp_st[6],index);
					index++;
				}
			}
		}
		*/
		for (var i=0;i<current_rules;i++)
		{
			if(array_rules_destip[i].length > 0){
				var ifacename = "LAN";
				if(array_rules_srciface[i] == "0")
					ifacename = "LAN";
				else if(array_rules_srciface[i] == "1")
					ifacename = "WAN";
				else if(array_rules_srciface[i] == "2")
					ifacename = "WAN_PHY";
					
				DataArray[DataArray.length++] = new Data("1"
														,"name"
														,array_rules_destip[i]
														,array_rules_destmask[i]
														,array_rules_gwip[i]
														,ifacename
														,array_rules_fwdmetric[i]
														,i);
			}
		}
	}
	
	function del_row(){
        var index = parseInt(get_by_id("edit_row").value,10);
        if(confirm(addstr(msg[MSG16],"routing"))){
        	for(i=index ; i<DataArray.length-1 ;i++){
				DataArray[i].Enable = DataArray[i+1].Enable;
				DataArray[i].Name = DataArray[i+1].Name;
				DataArray[i].Ip_addr = DataArray[i+1].Ip_addr;
				DataArray[i].Net_mask = DataArray[i+1].Net_mask;
				DataArray[i].Gateway = DataArray[i+1].Gateway;
				DataArray[i].Interface = DataArray[i+1].Interface;
				DataArray[i].Metric = DataArray[i+1].Metric;
				DataArray[i].OnList = DataArray[i+1].OnList;
			}
			--DataArray.length;
			save_to_cfg();
			get_by_id("reboot_type").value = "all";
			
			get_by_id("inst_1").value = "1.1."+ array_rules_inst[index][2] +".0.0";
			send_submit("form3");
			return true;
        }
        return false;
    }
    
    function edit_row(row){
    	var row_obj = get_by_id("table1").rows[row+1];
        
    	get_by_id("ip").value = get_row_data(row_obj, 0);    	
    	get_by_id("mask").value = get_row_data(row_obj, 1);
    	get_by_id("gateway").value = get_row_data(row_obj, 2);
    	
    	if (get_row_data(row_obj, 3) == "LAN"){
    		get_by_id("iface").selectedIndex = 0;
    	}else if (get_row_data(row_obj, 3) == "WAN"){
    		get_by_id("iface").selectedIndex = 1;
    	}else if (get_row_data(row_obj, 3) == "WAN_PHY"){
    		get_by_id("iface").selectedIndex = 2;
    	}
    	
        get_by_id("metric").value = get_row_data(row_obj, 4);
        
        get_by_id("edit_row").value = row;
        get_by_id("add").disabled = true;
        get_by_id("update").disabled = false;
        get_by_id("del").disabled = false;
        change_color("table1", row+1);
    }
    
    function clear_row(){
        get_by_id("edit_row").value = "-1";
        change_color("table1", -1);
        location.href = "static_routing.htm";
    }
    
	function send_request(){
		var temp_wan_poto=get_by_id("wan_proto").value;
/*DEF   CONFIG_RUS_PPTP*/		var temp_wan_pptp_russia_enable=get_by_id("wan_pptp_russia_enable").value;
/*DEF	CONFIG_RUS_POE*/		var temp_wan_pppoe_russia_enable=get_by_id("wan_pppoe_russia_enable").value;
/*DEF   CONFIG_RUS_POE*/		var dat= get_by_id("russia_wan_phy_ipaddr").value.split("/");
		var ip = get_by_id("ip").value;		
		var mask = get_by_id("mask").value;
		var gateway = get_by_id("gateway").value;
		var	lan_ip=get_by_id("lan_ipaddr").value;
		var	lan_mask=get_by_id("lan_netmask").value;
		var metric = get_by_id("metric").value;
		
		var network_addr_msg = replace_msg(all_ip_addr_msg,get_words('_NetworkAddr'));
		var gateway_msg = replace_msg(all_ip_addr_msg,get_words('_GWAddr'));
		var ip_addr_msg = replace_msg(all_ip_addr_msg,get_words('_IP_Addr'));
		if (!get_by_id("iface").value=="LAN"){
			ip_addr_msg[MULTICASE_IP_ERROR] = get_words('li_msg160');
		}
		var temp_ip_obj = new addr_obj(ip.split("."), network_addr_msg, false, true);
		var temp_mask_obj = new addr_obj(mask.split("."), subnet_mask_msg, false, false);
		var temp_gateway_obj = new addr_obj(gateway.split("."), gateway_msg, false, true);
		
		//var temp_lan_ip_obj = new addr_obj(lan_ip.split("."), network_addr_msg, false, true);
		//var temp_lan_mask_obj = new addr_obj(lan_mask.split("."), subnet_mask_msg, false, false);
				
		var temp_metric = new varible_obj(metric, metric_msg, 1, 15, false);
		var index = parseInt(get_by_id("edit_row").value,10);
		
		
		if (get_by_id("iface").value=="LAN"){
			// check the ip is not multicast IP (127.x.x.x && 224.x.x.x ~ 239.x.x.x)
			if((temp_ip_obj.addr[0] == "127") || ((temp_ip_obj.addr[0] >= 224) && (temp_ip_obj.addr[0] <= 239))){
				alert(temp_ip_obj.e_msg[MULTICASE_IP_ERROR]);
				return false;
			}
		}
// Don't check subnet and ip		
		if (!check_mask(temp_mask_obj)){
			return false;		// when subnet mask is not in the subnet mask range
		}else if (!check_network_address(temp_ip_obj, temp_mask_obj)){
			return false;   // when ip is invalid
		}
		
		if (!check_address(temp_gateway_obj)){
			return false;	// when gateway is invalid
		}
	
		if (!check_varible(temp_metric)){
    		return false;
    	}
    	
    	
    	if (get_by_id("iface").value=="LAN")
    	{
				var lan_ip_addr_msg = replace_msg(all_ip_addr_msg,get_words('_LANipAddr'));
				var temp_lan_ip_obj = new addr_obj(get_by_id("cur_ipaddr").value.split("."), lan_ip_addr_msg, false, true);
				var temp_lan_mask_obj = new addr_obj(get_by_id("cur_netmask").value.split("."), subnet_mask_msg, false, false);

				if(ip_num(temp_lan_ip_obj.addr) == ip_num(temp_ip_obj.addr))
				{
					alert(addstr(msg[MSG43],get_words('_NetworkAddr')));
					return false;
				}
				
				if (!check_domain(temp_lan_ip_obj, temp_lan_mask_obj, temp_gateway_obj))
				{		// check if the ip and the gateway are in the same subnet mask or not
					alert(msg[MSG7]);
					return false;
				}
			
				if(ip_num(temp_lan_ip_obj.addr) == ip_num(temp_gateway_obj.addr))
				{
					alert(addstr(msg[MSG43],"Gateway Address "));
					return false;
				}
				
		}
		/*
		if (get_by_id("iface").value=="WAN")
    	{
    		var wan_ip_addr_msg = replace_msg(all_ip_addr_msg,get_words('_WAN_IP'));
			var wan_current= get_by_id("wan_current_ipaddr_00").value.split("/");
			var gw_val = wan_current[2];
			var msk_val = wan_current[1];

			var temp_wan_gateway_obj= new addr_obj(wan_current[2].split("."), gateway_msg, false, true);
			var temp_wan_mask_obj= new addr_obj(wan_current[1].split("."), gateway_msg, false, true);

				if (!check_domain(temp_gateway_obj, temp_wan_mask_obj, temp_wan_gateway_obj))
				{		// check if the ip and the gateway are in the same subnet mask or not
					alert(msg[MSG7]);
					return false;
				}	
		}
		*/
//		else if(get_by_id("iface").value=="WAN_PHY")
//		{
//			var wan_ip_addr_msg = replace_msg(all_ip_addr_msg,get_words('_WAN_IP'));
//			var wan_current= get_by_id("russia_wan_phy_ipaddr").value.split("/");
//			var gw_val = wan_current[2];
//			var msk_val = wan_current[1];
//			var ip_val = wan_current[0];
			
//			var temp_wan_gateway_obj= new addr_obj(wan_current[2].split("."), gateway_msg, false, true);
//			var temp_wan_mask_obj= new addr_obj(wan_current[1].split("."), gateway_msg, false, true);			
//			var temp_wan_ip_obj= new addr_obj(wan_current[0].split("."), gateway_msg, false, true);
//			var temp_wan_pptp_gateway=get_by_id("wan_pptp_gateway").value
//			var temp_wan_pptp_netmask=get_by_id("wan_pptp_netmask").value
//			var temp_wan_pptp_dynamic=get_by_id("wan_pptp_dynamic").value
//
//			
//			if (temp_wan_pptp_dynamic == "1")
//			{
//				if (ip_val == "0.0.0.0")
//				{
//					alert(get_words('_MSG786'))
//					return false;   // when ip is invalid
//				}
//			}
//
//							
//				if (!check_domain(temp_gateway_obj, temp_wan_mask_obj, temp_wan_ip_obj))
//				{		// check if the ip and the gateway are in the same subnet mask or not
//					alert(msg[MSG7]);
//					return false;
//				}			
//		}	
    	//save data ::edit
		if(index > -1){
			DataArray[index].Ip_addr = ip;
			DataArray[index].Net_mask = mask;
			DataArray[index].Gateway = gateway;
			DataArray[index].Interface = get_by_id("iface").value;
			DataArray[index].Metric = metric;
			update_filter(index);
		}else{//save add data
			var max_num = DataArray.length;
			if(parseInt(max_num,10)>39){
				alert(get_words('_MSG756'))
				return false;
			}
			
			DataArray[DataArray.length++] = new Data(1,DataArray.length, ip, mask, gateway, get_by_id("iface").value, metric, DataArray.length);
			add_filter();
		}
		save_to_cfg();
		get_by_id("reboot_type").value = "all";
    	return true;
	}

	function save_to_cfg(){
		var temp_st = "";
		for(k=0; k<rule_max_num; k++){
			var now_num = k;
			if(parseInt(k,10)<10){
				now_num = "0"+k;
			}
			temp_st = "0/name/192.168.31.0/255.255.255.0/192.168.31.1/192.168.31.1/20";
			if(k<DataArray.length){
				temp_st = DataArray[k].Enable +"/"+ DataArray[k].Name + "/" + DataArray[k].Ip_addr
				+ "/" + DataArray[k].Net_mask + "/" + DataArray[k].Gateway
				+ "/" + DataArray[k].Interface + "/" + DataArray[k].Metric;
			}
			get_by_id("static_routing_"+now_num).value = temp_st;
		}
	}

	function config_submit_items(instStr)
	{
		get_by_id("submit_items").innerHTML = '<input type="hidden" name="fwdRule_Enable_'+instStr+'" id="fwdRule_Enable_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="fwdRule_DestIPAddress_'+instStr+'" id="fwdRule_DestIPAddress_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="fwdRule_DestSubnetMask_'+instStr+'" id="fwdRule_DestSubnetMask_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="fwdRule_SourceInterface_'+instStr+'" id="fwdRule_SourceInterface_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="fwdRule_GatewayIPAddress_'+instStr+'" id="fwdRule_GatewayIPAddress_'+instStr+'" value="">';
		get_by_id("submit_items").innerHTML += '<input type="hidden" name="fwdRule_ForwardingMetric_'+instStr+'" id="fwdRule_ForwardingMetric_'+instStr+'" value="">';
		
		get_by_id("fwdRule_Enable_"+instStr).value = "1";
		get_by_id("fwdRule_DestIPAddress_"+instStr).value = get_by_id("ip").value;
		get_by_id("fwdRule_DestSubnetMask_"+instStr).value = get_by_id("mask").value;
		get_by_id("fwdRule_SourceInterface_"+instStr).value = get_by_id("iface").selectedIndex;		
		get_by_id("fwdRule_GatewayIPAddress_"+instStr).value = get_by_id("gateway").value;
		get_by_id("fwdRule_ForwardingMetric_"+instStr).value = get_by_id("metric").value;
	}
	
	function add_filter()
	{
		param.arg = "ccp_act=queryInst&num_inst=1";
		param.arg +="&oid_1=IGD_Layer3Forwarding_Forwarding_i_&inst_1=11000";
		get_config_obj(param);
		var instStr = config_val("newInst");
		config_submit_items(instStr);
		send_submit("form2");
	}
	
	function update_filter(index)
	{
		var instStr = "1.1."+ array_rules_inst[index][2] +".0.0";
		config_submit_items(instStr);
		send_submit("form2");
	}
	
</SCRIPT>
</head>

<body onLoad="MM_preloadImages('but_wizard_1.gif','but_status_1.gif','but_tools_1.gif','but_main_1.gif','but_wireless_1.gif','but_routing_1.gif','but_access_1.gif','but_management_1.gif');loadsetting()">
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20%" height="429" valign="top"><table width="56%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td onclick="location.href='lan.htm'">
					<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG749');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>	</a></td>

              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='wireless_basic.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wireless');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='status.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG748');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='static_routing.htm'">
				<table class="menu_tb">
				<tr>
					<td class="menu_sel_nw"></td>
					<td class="menu_sel_n"></td>
					<td class="menu_sel_ne"></td>
				</tr>
				<tr>
					<td class="menu_sel_w"></td>
					<td class="menu_sel_m"><b>&nbsp;&nbsp;<script>show_words('_MSG747');</script></td>
					<td class="menu_sel_e"></td>
				</tr>
				<tr>
					<td class="menu_sel_sw"></td>
					<td class="menu_sel_s"></td>
					<td class="menu_sel_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="2" class="submenubg">
                    <tr>
                      <td width="13%" align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td width="87%"><a href="static_routing.htm" class="submenus"><b><u><script>show_words('_MSG745');</script></u></b></a></td>
                    </tr>
					<tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="dynamic_routing.htm" class="submenus"><b><script>show_words('_MSG744');</script> </b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="routing_table.htm" class="submenus"><b><script>show_words('_RoutingTb');</script> </b></a></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='filters.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Access');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
               <td onclick="location.href='snmp.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG746');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                 <td onclick="location.href='restart.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Tools');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="show_wizard('wizard.htm',login_Info)">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wizard');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="15" height="15"></td>
              </tr>
            </table>
            <p>&nbsp;</p></td>
            <td width="2%"><img src="spacer.gif" width="15" height="15" /></td>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
                <tr>
                  <td class="headerbg2"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 10px 0 10px 0">
                      <tr>
                        <td width="79%"><font color="#FFFFFF" class="textheader" style="margin-left:0; padding-left:0"><script>show_words('_MSG745');</script></font></td>
                        <td width="21%"><input name="button" type="button" id="help_btn" class="ButtonHelp" onclick="MM_openBrWindow('help_routing.htm#routing_static','','scrollbars=yes,resizable=yes,width=800,height=550')" value="" />
								<script>$('#help_btn').val(get_words('_Help'));</script>
                        </td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top">
				  <form id="form3" name="form3" method="post" action="get_set.ccp">
					<input type="hidden" name="ccp_act" value="del">
					<input type="hidden" name="ccpSubEvent" value="CCP_SUB_ROUTING">
					<input type="hidden" name="nextPage" value="static_routing.htm">	
					<input type="hidden" name="num_inst" id="num_inst" value="1">
					<input type="hidden" name="oid_1" id="oid_1" value="IGD_Layer3Forwarding_Forwarding_i_">
					<input type="hidden" name="inst_1" id="inst_1" value="">
				  </form>
				  
				  <form id="form2" name="form2" method="post" action="get_set.ccp">
				  	<input type="hidden" name="ccp_act" value="set">
					<input type="hidden" name="ccpSubEvent" value="CCP_SUB_ROUTING">
					<input type="hidden" name="nextPage" value="static_routing.htm">	
					<span id="submit_items">
					</span>
				  </form>
				  <form id="form1" name="form1" method="post" action="apply.cgi">
                    <input type="hidden" id="html_response_page" name="html_response_page" value="back.htm">
                    <input type="hidden" id="html_response_message" name="html_response_message" value="The setting is saved.">
                    <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="static_routing.htm">
                    <input type="hidden" id="reboot_type" name="reboot_type" value="none">
                    <input type="hidden" id="cur_ipaddr" name="cur_ipaddr" value='<% CmoGetCfg("lan_ipaddr","none"); %>'>
                    <input type="hidden" id="cur_netmask" name="cur_netmask" value='<% CmoGetCfg("lan_netmask","none"); %>'>
                    <input type="hidden" id="wan_poto_type" name="wan_poto_type" value='<% CmoGetCfg("wan_poto","none"); %>'>
                    <!-- New Variable -->
                    <input type="hidden" id="static_routing_00" name="static_routing_00" value='<% CmoGetCfg("static_routing_00","none"); %>'>
                    <input type="hidden" id="static_routing_01" name="static_routing_01" value='<% CmoGetCfg("static_routing_01","none"); %>'>
                    <input type="hidden" id="static_routing_02" name="static_routing_02" value='<% CmoGetCfg("static_routing_02","none"); %>'>
                    <input type="hidden" id="static_routing_03" name="static_routing_03" value='<% CmoGetCfg("static_routing_03","none"); %>'>
                    <input type="hidden" id="static_routing_04" name="static_routing_04" value='<% CmoGetCfg("static_routing_04","none"); %>'>
                    <input type="hidden" id="static_routing_05" name="static_routing_05" value='<% CmoGetCfg("static_routing_05","none"); %>'>
                    <input type="hidden" id="static_routing_06" name="static_routing_06" value='<% CmoGetCfg("static_routing_06","none"); %>'>
                    <input type="hidden" id="static_routing_07" name="static_routing_07" value='<% CmoGetCfg("static_routing_07","none"); %>'>
                    <input type="hidden" id="static_routing_08" name="static_routing_08" value='<% CmoGetCfg("static_routing_08","none"); %>'>
                    <input type="hidden" id="static_routing_09" name="static_routing_09" value='<% CmoGetCfg("static_routing_09","none"); %>'>
                    <input type="hidden" id="static_routing_10" name="static_routing_10" value='<% CmoGetCfg("static_routing_10","none"); %>'>
                    <input type="hidden" id="static_routing_11" name="static_routing_11" value='<% CmoGetCfg("static_routing_11","none"); %>'>
                    <input type="hidden" id="static_routing_12" name="static_routing_12" value='<% CmoGetCfg("static_routing_12","none"); %>'>
                    <input type="hidden" id="static_routing_13" name="static_routing_13" value='<% CmoGetCfg("static_routing_13","none"); %>'>
                    <input type="hidden" id="static_routing_14" name="static_routing_14" value='<% CmoGetCfg("static_routing_14","none"); %>'>
                    <input type="hidden" id="static_routing_15" name="static_routing_15" value='<% CmoGetCfg("static_routing_15","none"); %>'>
                    <input type="hidden" id="static_routing_16" name="static_routing_16" value='<% CmoGetCfg("static_routing_16","none"); %>'>
                    <input type="hidden" id="static_routing_17" name="static_routing_17" value='<% CmoGetCfg("static_routing_17","none"); %>'>
                    <input type="hidden" id="static_routing_18" name="static_routing_18" value='<% CmoGetCfg("static_routing_18","none"); %>'>
                    <input type="hidden" id="static_routing_19" name="static_routing_19" value='<% CmoGetCfg("static_routing_19","none"); %>'>
                    <input type="hidden" id="wan_proto" name="wan_proto" value='<% CmoGetCfg("wan_proto","none"); %>'>
<!--DEF CONFIG_RUSPPTP-->                    <input type="hidden" id="wan_pptp_russia_enable" name="wan_pptp_russia_enable" value='<% CmoGetCfg("wan_pptp_russia_enable","none"); %>'>
<!--DEF CONFIG_RUSPOE-->                    <input type="hidden" id="wan_pppoe_russia_enable" name="wan_pppoe_russia_enable" value='<% CmoGetCfg("wan_pppoe_russia_enable","none"); %>'>
                    <input type="hidden" id="lan_ipaddr" name="lan_ipaddr" value='<% CmoGetCfg("lan_ipaddr","none"); %>'>
                    <input type="hidden" id="lan_netmask" name="lan_netmask" value='<% CmoGetCfg("lan_netmask","none"); %>'>
<!--DEF CONFIG_RUSPOE-->                    <input type="hidden" id="russia_wan_phy_ipaddr" name="russia_wan_phy_ipaddr" value='<% CmoGetStatus("russia_wan_phy_ipaddr"); %>'>
                    <input type="hidden" id="wan_current_ipaddr_00" name="wan_current_ipaddr_00" value='<% CmoGetStatus("wan_current_ipaddr_00"); %>'>
                    <input type="hidden" id="wan_pptp_netmask" name="wan_pptp_netmask" value='<% CmoGetCfg("wan_pptp_netmask","none"); %>'>
                    <input type="hidden" id="wan_pptp_gateway" name="wan_pptp_gateway" value='<% CmoGetCfg("wan_pptp_gateway","none"); %>'>
                    <input type="hidden" id="wan_pptp_dynamic" name="wan_pptp_dynamic" value='<% CmoGetCfg("wan_pptp_dynamic","none"); %>'>
                    <input type="hidden" id="wan_pppoe_netmask_00" name="wan_pppoe_netmask_00" value='<% CmoGetCfg("wan_pppoe_netmask_00","none"); %>'>
                    <input type="hidden" id="wan_pppoe_gateway_00" name="wan_pppoe_gateway_00" value='<% CmoGetCfg("wan_pppoe_gateway_00","none"); %>'>
                    <input type="hidden" id="wan_pppoe_dynamic_00" name="wan_pppoe_dynamic_00" value='<% CmoGetCfg("wan_pppoe_dynamic_00","none"); %>'>
                    <input type="hidden" id="edit_row" name="edit_row">
                    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_NetworkAddr');</script></td>
                        <td class="bggrey"><input type="text" id="ip" name="ip" size="16" maxlength="15"></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_NetworkMask');</script></td>
                        <td class="bggrey"><input type="text" id="mask" name="mask" size="16" maxlength="15"></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_GWAddr');</script></td>
                        <td class="bggrey"><input type="text" id="gateway" name="gateway" size="16" maxlength="15"></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_Interface');</script></td>
                        <td class="bggrey"><select size="1" id="iface" name="iface">
                          </select>
                        </td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_Metric');</script></td>
                        <td class="bggrey"><input type="text" id="metric" name="metric" size="3" maxlength="2"></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue">&nbsp;</td>
                        <td class="bggrey2"><input name="add" type="button" class="ButtonSmall" id="add" onClick="return send_request()" value="">
								<script>$('#add').val(get_words('_Add'));</script>
          <input name="update" type="button" disabled class="ButtonSmall" id="update" onClick="return send_request()" value="">
								<script>$('#update').val(get_words('_update'));</script>
          <br>
                          <input name="del" type="button" disabled class="ButtonSmall" id="del" onClick="return del_row()" value="">
								<script>$('#del').val(get_words('_Delete'));</script>
                            <input name="cancel" type="button" class="ButtonSmall" id="cancel" onClick="clear_row()" value="">
									<script>$('#cancel').val(get_words('_Cancel'));</script>
                        </td>
                      </tr>
                    </table>
                  </form>
                    <br>
                    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333" id="table1">
                      <tr>
                        <td height="22" align="center" bgcolor="#DDDDDD"><b><script>show_words('_NetworkAddr');</script></b></td>
                        <td height="22" align="center" bgcolor="#DDDDDD"><b><script>show_words('_Mask');</script></b></td>
                        <td height="22" align="center" bgcolor="#DDDDDD"><b><script>show_words('_GW');</script></b></td>
                        <td height="22" align="center" bgcolor="#DDDDDD"><b><script>show_words('_Interface');</script></b></td>
                        <td height="22" align="center" bgcolor="#DDDDDD"><b><script>show_words('_Metric');</script></b></td>
                      </tr>
                      <script>DataShow();</script>
                    </table>
                    <br>
                  </td>
                </tr>
            </table></td>
          </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
<script>
	var login_who=login_Info;
    if(login_who != "w")
	{
		get_by_id("add").disabled = "true";
		get_by_id("del").disabled = "true";
		get_by_id("update").disabled = "true";
		get_by_id("cancel").disabled = "true";
	}
</script>
</body>
</html>
