<html>
<head>
<meta http-equiv="Content-Type" content="text/html;">
<title>TRENDNET | modelName | Main | WAN</title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();

	var hw_version 	= dev_info.hw_ver;
	var version 	= dev_info.fw_ver;
	var model		= dev_info.model;
	var login_Info 	= dev_info.login_info;
	var cli_mac 	= dev_info.cli_mac;

	var param = {
		url: "get_set.ccp",
		arg: ""
	};
	param.arg = "ccp_act=get&num_inst=2";
	param.arg +="&oid_1=IGD_WANDevice_i_WANConnectionDevice_i_PPPoE_i_&inst_1=11110";
	param.arg +="&oid_2=IGD_WANDevice_i_WANConnectionDevice_i_&inst_2=11100";

	//param.arg +="&oid_2=IGD_WANDevice_i_WANConnectionDevice_i_PPPoE_i_ConnectionCfg_i_&inst_2=11111";
	get_config_obj(param);
	
	var dnsServer = config_val("pppoeCfg_DNSServers_").split(",");
	
	function loadSettings(){
		//set_checked("<% CmoGetCfg("wan_pppoe_dynamic_00","none"); %>",get_by_name("wan_pppoe_dynamic_00"));
		//set_checked("<% CmoGetCfg("wan_pppoe_connect_mode_00","none"); %>",get_by_name("wan_pppoe_connect_mode_00"));
		set_checked(config_val("pppoeCfg_IPAddressType_"),get_by_name("wan_pppoe_dynamic_00"));
		set_checked(config_val("pppoeCfg_ConnectionTrigger_"),get_by_name("wan_pppoe_connect_mode_00"));
		
		get_by_id("wan_pppoe_ipaddr_00").value = config_val("pppoeCfg_ExternalIPAddress_");
		get_by_id("wan_pppoe_service_00").value = config_val("pppoeCfg_ServiceName_");
		get_by_id("wan_pppoe_username_00").value = config_val("pppoeCfg_Username_");
		//get_by_id("wan_pppoe_password_00").value = config_val("");
		if(dnsServer[0])
			get_by_id("wan_primary_dns").value = dnsServer[0];
		if(dnsServer[1])
			get_by_id("wan_secondary_dns").value = dnsServer[1];
		
		get_by_id("wan_pppoe_max_idle_time_00").value = config_val("pppoeCfg_IdleDisconnectTime_");
		get_by_id("wan_pppoe_mtu").value = config_val("pppoeCfg_MaxMTUSize_");

		get_by_id("wan_mac").value = config_val("wanConnDev_MACAddress_");
		get_by_id("wanConnDev_MACAddressOverride_1.1.1.0.0").value = config_val("wanConnDev_MACAddressOverride_");

		set_mac(get_by_id("wan_mac").value, ":");
		
		disable_ip_address(get_by_name("wan_pppoe_dynamic_00"), get_by_id("wan_pppoe_ipaddr_00"));
		check_connectmode();
	}
	function send_request(){
		var wan_type = get_by_name("wan_pppoe_dynamic_00");
		var ip = get_by_id("wan_pppoe_ipaddr_00").value;
		var dns1 = get_by_id("wan_primary_dns").value;
    	var dns2 = get_by_id("wan_secondary_dns").value;
		var idle_time = get_by_id("wan_pppoe_max_idle_time_00").value;	    	
        var mtu = get_by_id("wan_pppoe_mtu").value;
        
        var ip_addr_msg = replace_msg(all_ip_addr_msg,get_words('_IP_Addr'));
		var primary_dns_msg = replace_msg(all_ip_addr_msg,get_words('_PrimaryDNS'));
		var second_dns_msg = replace_msg(all_ip_addr_msg,get_words('_SecondaryDNS'));
		var max_idle_msg = replace_msg(check_num_msg, get_words('_IdleTime'), 0, 999);
		var mtu_msg = replace_msg(check_num_msg, " "+get_words('_MTU'), 576, 1492);
		
		var temp_ip_obj = new addr_obj(ip.split("."), ip_addr_msg, false, false);
		var temp_dns1 = new addr_obj(dns1.split("."), primary_dns_msg, false, false);
        var temp_dns2 = new addr_obj(dns2.split("."), second_dns_msg, true, false);
		var temp_idle = new varible_obj(idle_time, max_idle_msg, 0, 9999, false);
        var temp_mtu = new varible_obj(mtu, mtu_msg, 576, 1492, false);

		if(get_by_id("wan_pppoe_username_00").value == "")
		{
			alert(get_words("_MSG99"));
			return false;
		}
		
		if (wan_type[1].checked){
			if (!check_address(temp_ip_obj)){
				return false;
			}
		}
		
		if (dns1 != "" && dns1 != "0.0.0.0"){
	    	if (!check_address(temp_dns1)){
				return false;
			}
    	}
    	
    	if (dns2 != "" && dns2 != "0.0.0.0"){
    		if (!check_address(temp_dns2)){
    			return false;
    		}
    	}

		if(get_by_id("wan_pppoe_password_00").value == "")
		{
			alert(get_words("_MSG100"));
			return false;
		}
				
		if (!check_pwd("wan_pppoe_password_00", "pwd2")){
			return false;
		}
		
		if (!check_varible(temp_idle)){
    		return false;
    	}
    	
    	if (!check_varible(temp_mtu)){
    		return false;
    	}
    	
    	if((get_by_id("wan_primary_dns").value =="" || get_by_id("wan_primary_dns").value =="0.0.0.0")&& ( get_by_id("wan_secondary_dns").value =="" || get_by_id("wan_secondary_dns").value =="0.0.0.0")){
			get_by_id("wan_specify_dns").value = 0;
		}else{
			get_by_id("wan_specify_dns").value = 1;
		}
		
		var mac = "";
		for (var i = 1; i < 7; i++){
			mac += get_by_id("mac" + i).value;
			
			if (i < 6){
				mac += ":";
			}
		}
		if(check_mac_00(mac) == -59)
        {
            alert(msg[MSG59]);
            return false;
        }
        if (!check_mac_00(mac) || mac == "00:00:00:00:00:00" || mac == ":::::"){
			alert(msg[MSG5]);
			return;
		}
		get_by_id("wan_mac").value= mac;
		
		copyDataToDataModelFormat();
		send_submit("form2");
	}
	
	function check_connectmode(){
		var conn_mode = get_by_name("wan_pppoe_connect_mode_00");
		var idle_time = get_by_id("wan_pppoe_max_idle_time_00");
		
		if(conn_mode[2].checked == true){
			idle_time.disabled = false;
		}else{
			idle_time.disabled = true;
		}
	}

	function clone_mac_action(){
		set_mac(cli_mac, ":");
		get_by_id("wan_mac").value = cli_mac;
		
		get_by_id("wanConnDev_MACAddressOverride_1.1.1.0.0").value = "1";
	}
	
	function copyDataToDataModelFormat()
	{
		if(get_by_id("wanConnDev_MACAddressOverride_1.1.1.0.0").value == "0")
		{
			if(get_by_id("wanConnDev_MACAddress_1.1.1.0.0").value != get_by_id("wan_mac").value)
				get_by_id("wanConnDev_MACAddressOverride_1.1.1.0.0").value = "1";
		}
		
		if(get_by_id("wanConnDev_MACAddressOverride_1.1.1.0.0").value == "1")
			get_by_id("wanConnDev_MACAddress_1.1.1.0.0").value = get_by_id("wan_mac").value;
	
	
		get_by_id("pppoeCfg_IPAddressType_1.1.1.1.0").value = get_checked_value(get_by_name("wan_pppoe_dynamic_00"));
		get_by_id("pppoeCfg_ExternalIPAddress_1.1.1.1.0").value = get_by_id("wan_pppoe_ipaddr_00").value;
		get_by_id("pppoeCfg_ServiceName_1.1.1.1.0").value = get_by_id("wan_pppoe_service_00").value;
		get_by_id("pppoeCfg_Username_1.1.1.1.0").value = get_by_id("wan_pppoe_username_00").value;
		//if(get_by_id("wan_pppoe_password_00").value == "WDB8WvbXdHtZyM8Ms2RENgHlacJghQyG")
			//get_by_id("pppoeCfg_Password_1.1.1.1.0").value = config_val("pppoeCfg_Password_");
		//else
			get_by_id("pppoeCfg_Password_1.1.1.1.0").value = get_by_id("wan_pppoe_password_00").value;
		
		//get_by_id("pppoeCfg_DNSEnabled_1.1.1.1.0").value = get_by_id("").value;
		if(get_by_id("wan_primary_dns").value != "")
			get_by_id("pppoeCfg_DNSServers_1.1.1.1.0").value = get_by_id("wan_primary_dns").value;
		if(get_by_id("wan_secondary_dns").value != "")
			get_by_id("pppoeCfg_DNSServers_1.1.1.1.0").value += ","+get_by_id("wan_secondary_dns").value;
		get_by_id("pppoeCfg_ConnectionTrigger_1.1.1.1.0").value = get_checked_value(get_by_name("wan_pppoe_connect_mode_00"));
		get_by_id("pppoeCfg_IdleDisconnectTime_1.1.1.1.0").value = get_by_id("wan_pppoe_max_idle_time_00").value;
		get_by_id("pppoeCfg_MaxMTUSize_1.1.1.1.0").value = get_by_id("wan_pppoe_mtu").value;
	}
</SCRIPT>
</head>

<body onLoad="MM_preloadImages('but_wizard_1.gif','but_status_1.gif','but_tools_1.gif','but_main_1.gif','but_wireless_1.gif','but_routing_1.gif','but_access_1.gif','but_management_1.gif');loadSettings()">
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20%" height="429" valign="top"><table width="56%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td onclick="location.href='lan.htm'">
				<table class="menu_tb">
				<tr>
					<td class="menu_sel_nw"></td>
					<td class="menu_sel_n"></td>
					<td class="menu_sel_ne"></td>
				</tr>
				<tr>
					<td class="menu_sel_w"></td>
					<td class="menu_sel_m"><b>&nbsp;&nbsp;<script>show_words('_MSG749');</script></td>
					<td class="menu_sel_e"></td>
				</tr>
				<tr>
					<td class="menu_sel_sw"></td>
					<td class="menu_sel_s"></td>
					<td class="menu_sel_se"></td>
				</tr>
				</table>	
				</a></td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="2" class="submenubg">
                    <tr>
                      <td width="13%" align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td width="87%"><a href="lan.htm" class="submenus"><b><script>show_words('_LAN_DHCPSer')</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="wan.htm" class="submenus"><b><u><script>show_words('_WAN')</script></u></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="password.htm" class="submenus"><b><script>show_words('_Pwd')</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="time.htm" class="submenus"><b><script>show_words('_Time')</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="ddns.htm" class="submenus"><b><script>show_words('_dyndns')</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="ipv6.htm" class="submenus"><b><script>show_words('_IPv6')</script></b></a></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='wireless_basic.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wireless')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='status.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG748')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='static_routing.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG747')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='filters.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Access')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='snmp.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG746')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='restart.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Tools')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="show_wizard('wizard.htm',login_Info)">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wizard')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="15" height="15"></td>
              </tr>
            </table>
            <p>&nbsp;</p>
              <p>&nbsp;</p></td>
            <td width="2%"><img src="spacer.gif" width="15" height="15" /></td>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
                <tr>
                  <td class="headerbg2"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 10px 0 10px 0">
                      <tr>
                        <td width="79%"><font color="#FFFFFF" class="textheader" style="margin-left:0; padding-left:0"><script>show_words('_WAN')</script></font></td>
                        <td width="21%"><input name="button" type="button" id="help_btn" class="ButtonHelp" onclick="MM_openBrWindow('help_main.htm#main_wan','','scrollbars=yes,resizable=yes,width=800,height=550')" value="" />
								<script>$('#help_btn').val(get_words('_Help'));</script>
                        </td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td valign="top">
				  <form id="form2" name="form2" method="post" action="get_set.ccp">
					<input type="hidden" name="ccp_act" value="set">
					<input type="hidden" name="ccpSubEvent" value="CCP_SUB_WAN">
					<input type="hidden" name="nextPage" value="wan_poe.htm">
					<input type="hidden" name="wanConnDev_CurrentConnObjType_1.1.1.0.0" id="wanConnDev_CurrentConnObjType_1.1.1.0.0" value="2">
					<input type="hidden" name="wanConnDev_MACAddress_1.1.1.0.0" id="wanConnDev_MACAddress_1.1.1.0.0" value="">
					<input type="hidden" name="wanConnDev_MACAddressOverride_1.1.1.0.0" id="wanConnDev_MACAddressOverride_1.1.1.0.0" value="">
					<input type="hidden" name="pppoeCfg_IPAddressType_1.1.1.1.0" id="pppoeCfg_IPAddressType_1.1.1.1.0" value="">
					<input type="hidden" name="pppoeCfg_ExternalIPAddress_1.1.1.1.0" id="pppoeCfg_ExternalIPAddress_1.1.1.1.0" value="">
					<input type="hidden" name="pppoeCfg_ServiceName_1.1.1.1.0" id="pppoeCfg_ServiceName_1.1.1.1.0" value="">
					<input type="hidden" name="pppoeCfg_Username_1.1.1.1.0" id="pppoeCfg_Username_1.1.1.1.0" value="">
					<input type="hidden" name="pppoeCfg_Password_1.1.1.1.0" id="pppoeCfg_Password_1.1.1.1.0" value="">
					<input type="hidden" name="pppoeCfg_DNSEnabled_1.1.1.1.0" id="pppoeCfg_DNSEnabled_1.1.1.1.0" value="1">
					<input type="hidden" name="pppoeCfg_DNSServers_1.1.1.1.0" id="pppoeCfg_DNSServers_1.1.1.1.0" value="">
					<input type="hidden" name="pppoeCfg_ConnectionTrigger_1.1.1.1.0" id="pppoeCfg_ConnectionTrigger_1.1.1.1.0" value="">
					<input type="hidden" name="pppoeCfg_IdleDisconnectTime_1.1.1.1.0" id="pppoeCfg_IdleDisconnectTime_1.1.1.1.0" value="">
					<input type="hidden" name="pppoeCfg_MaxMTUSize_1.1.1.1.0" id="pppoeCfg_MaxMTUSize_1.1.1.1.0" value="">
				  <form>
				  <form id="form1" name="form1" method="post" action="apply.cgi">
                    <input type="hidden" id="html_response_page" name="html_response_page" value="back.htm">
                    <input type="hidden" id="html_response_message" name="html_response_message" value="The setting is saved.">
                    <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="wan.htm">
                    <input type="hidden" id="wan_specify_dns" name="wan_specify_dns"  value="">
                    <input type="hidden" id="wan_proto" name="wan_proto" value="pppoe">
                    <input type="hidden" id="wan_mac" name="wan_mac" value="">
                    <input type="hidden" id="wan_pppoe_russia_enable" name="wan_pppoe_russia_enable" value="0">
                    <input type="hidden" id="wan_pptp_russia_enable" name="wan_pptp_russia_enable" value="0">
                    <input type="hidden" id="reboot_type" name="reboot_type" value="reboot">
                    <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_conntype')</script> </td>
                        <td colspan="3" class="bggrey"><select size="1" id="conn_type" name="conn_type" onChange="change_wan_html(this.options[selectedIndex].value)">
                            <option value="0"><script>show_words('_DHCPClient_FixedIP')</script></option>
                            <option value="1" selected><script>show_words('_PPPoE')</script></option>
<!--DEF CONFIG_PPTP-->                            <option value="2"><script>show_words('_PPTP')</script></option>
<!--DEF CONFIG_L2TP-->                            <option value="3"><script>show_words('_L2TP')</script></option>
<!--DEF	CONFIG_BIGPOND                             <option value="4"><script>show_words('_BigPondCable')</script></option>-->
<!--DEF	CONFIG_RUSPOE-->                              <option value="5"><script>show_words('_RussiaPPPoE')</script></option>
<!--DEF	CONFIG_RUSPPTP-->                             <option value="6"><script>show_words('_RussiaPPTP')</script></option>
<!--DEF CONFIG_RUSL2TP-->                            <option value="7"><script>show_words('_RussiaL2TP')</script></option>
                        </select></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_WANIP')</script></td>
                        <td colspan="3" class="bggrey"><table width="100%" border="0" cellpadding="3" cellspacing="1">
                          <tr>
                            <td><input type="radio" value="0" name="wan_pppoe_dynamic_00" onClick='disable_ip_address(get_by_name("wan_pppoe_dynamic_00"), get_by_id("wan_pppoe_ipaddr_00"));'><script>show_words('_MSG286')</script> &nbsp; </td>
                            </tr>
                          <tr>
                            <td><input type="radio" value="1" name="wan_pppoe_dynamic_00" onClick='disable_ip_address(get_by_name("wan_pppoe_dynamic_00"), get_by_id("wan_pppoe_ipaddr_00"));'><script>show_words('_SpecifyIP')</script>
  <input type=text id="wan_pppoe_ipaddr_00" name="wan_pppoe_ipaddr_00" size="16" maxlength="15" value=""></td>
                          </tr>
                        </table>                        </td>
                      </tr>
                      
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_ServiceName ')</script> </td>
                        <td colspan="3" class="bggrey"><input type=text id="wan_pppoe_service_00" name="wan_pppoe_service_00" size="30" maxlength="63" value=""></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_username')</script> </td>
                        <td colspan="3" class="bggrey"><input type=text id="wan_pppoe_username_00" name="wan_pppoe_username_00" size="30" maxlength="63" value=""></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_Pwd')</script> </td>
                        <td colspan="3" class="bggrey"><input type=password id="wan_pppoe_password_00" name="wan_pppoe_password_00" size="30" maxlength="64" value="WDB8WvbXdHtZyM8Ms2RENgHlacJghQyGWDB8WvbXdHtZyM8Ms2RENgHlacJghQyG"></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_RetypePwd')</script> </td>
                        <td colspan="3" class="bggrey"><input type="password" id="pwd2" name="pwd2" size="30" maxlength="64" value="WDB8WvbXdHtZyM8Ms2RENgHlacJghQyGWDB8WvbXdHtZyM8Ms2RENgHlacJghQyG"></td>
                      </tr>
                      <tr>
                        <td height="30" align="right" class="bgblue"> <script>show_words('_DNS')</script> </td>
                        <td height="30" colspan="3" class="bggrey">
                        	<table><font face="Arial">
                        		<tr>
                        			<td><script>show_words('_Primary')</script>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            		<td><input type=text id="wan_primary_dns" name="wan_primary_dns" size="15" maxlength="15" value=""></td>
                            	</tr>
                          		<tr>
                          			<td><script>show_words('_Secondary')</script></td>
                          			<td><input type=text id="wan_secondary_dns" name="wan_secondary_dns" size="15" maxlength="15" value=""></td>
                          		</tr>
                        	</font></table>
                        </td>
                      </tr>
                      <tr>
                        <td width="150" align="right" class="bgblue"><script>show_words('_MACAddr')</script></td>
                        <td colspan="3"  class="bggrey"><input type="text" id="mac1" name="mac1" size="2" maxlength="2">
                          -
                          <input type="text" id="mac2" name="mac2" size="2" maxlength="2">
                          -
                          <input type="text" id="mac3" name="mac3" size="2" maxlength="2">
                          -
                          <input type="text" id="mac4" name="mac4" size="2" maxlength="2">
                          -
                          <input type="text" id="mac5" name="mac5" size="2" maxlength="2">
                          -
                          <input type="text" id="mac6" name="mac6" size="2" maxlength="2">
                          &nbsp;&nbsp;<br>
                          <input type="button" value="Clone MAC Address" name="clone" id="mac_clone" onClick="clone_mac_action()"><script>$('#mac_clone').val(get_words('_CloneMAC'));</script></td>
                      </tr>					  
                      <tr>
                        <td align="right" class="bgblue"> <script>show_words('_AutoReconn')</script> </td>
                        <td colspan="3" class="bggrey"><input type=radio name="wan_pppoe_connect_mode_00" value="0" onClick="check_connectmode()">
                          <script>show_words('_AlwaysOn')</script>
                          &nbsp;&nbsp;&nbsp;
                          <input type=radio name="wan_pppoe_connect_mode_00" value="1" onClick="check_connectmode()">
                          <script>show_words('_Manual')</script>
                          &nbsp;&nbsp;&nbsp;
                          <label><input type=radio name="wan_pppoe_connect_mode_00" value="2" onClick="check_connectmode()">
                          <script>show_words('_OnDemand')</script></label></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_IdleTimeOut')</script> </td>
                        <td colspan="3" class="bggrey"><input type=text id="wan_pppoe_max_idle_time_00" name="wan_pppoe_max_idle_time_00"  size="4" maxlength="4" value="">
                          <script>show_words('_minutes')</script> </td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue"><script>show_words('_MTU')</script> </td>
                        <td colspan="3" class="bggrey"><input type=text id="wan_pppoe_mtu" name="wan_pppoe_mtu" maxlength="4" size="4" value=""></td>
                      </tr>
                      <tr>
                        <td align="right" class="bgblue">&nbsp;</td>
                        <td colspan="3" class="bggrey2"><input name="cancel" type="button" class="ButtonSmall" id="cancel" onClick="window.location='wan_poe.htm'" value="">
									<script>$('#cancel').val(get_words('_Cancel'));</script>
                            <input name="apply" type="button" class="ButtonSmall" id="apply" onClick="send_request()" value="">                        <script>$('#apply').val(get_words('_Apply'));</script></td>
                      </tr>
                    </table>
                    </form>
                    <br>
                  </td>
                </tr>
            </table></td>
          </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
<script>
var login_who=login_Info;
    if(login_who != "w")
    {
        get_by_id("cancel").disabled = "true";
        get_by_id("apply").disabled = "true";
    }
</script>
</body>
</html>
