<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
<title>TRENDNET | modelName | Wireless | WPS</title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();
	var login_Info = config_val("login_Info");
	var param = {
		url: "get_set.ccp",
		arg: "ccp_act=get"
	};

	param.arg += "&num_inst=6";
	param.arg += "&oid_1=IGD_LANDevice_i_WLANConfiguration_i_WPS_&inst_1=11110";
	param.arg += "&oid_2=IGD_LANDevice_i_WLANConfiguration_i_&inst_2=11100";
	param.arg += "&oid_3=IGD_LANDevice_i_WLANConfiguration_i_WEP_&inst_3=11110";
	param.arg += "&oid_4=IGD_LANDevice_i_WLANConfiguration_i_WPA_&inst_4=11110";

	param.arg += "&oid_5=IGD_LANDevice_i_WLANConfiguration_i_WPA_PSK_&inst_5=11111";
	param.arg += "&oid_6=IGD_LANDevice_i_WLANConfiguration_i_WEP_WEPKey_i_&inst_6=11110";
	//param.arg += "&oid_4=IGD_LANDevice_i_WLANConfiguration_i_WPA_&inst_4=11110";
	get_config_obj(param);

	function onPageLoad(){
		//set_checked("<% CmoGetCfg("wps_enable","none"); %>",get_by_name("wpsEnable"));
		//set_checked("<% CmoGetCfg("wps_configured_mode","none"); %>",get_by_name("config"));
		set_checked(config_val("wpsCfg_Enable_"), get_by_name("wpsEnable"));
		set_checked(config_val("wpsCfg_Status_"), get_by_name("config"));

		$('#default_pin').html(config_val("wpsCfg_SelfPINNumber_"));
		$('#lock_state').html(config_val("wpsCfg_AutoLock_")==0?get_words('stat_unlock'):get_words('stat_lock')); //check default
 		disable_wps();
	}

	function _isNumeric(str) {
	    var i;
	    for(i = 0; i<str.length; i++) {
	        var c = str.substring(i, i+1);
	        if("0" <= c && c <= "9") {
	            continue;
	        }
	        return false;
	    }
	    return true;
	}

	function check_security(){
		//var security_val = "<% CmoGetCfg("wlan0_security","none"); %>";
		var security_val = config_val("lanWlanCfg_SecurityMode_");
		var wpaAuthMode = config_val("wpaInfo_AuthenticationMode_");
		//var ssid_broadcast_val = "<% CmoGetCfg("wlan0_ssid_broadcast","none"); %>";
		var ssid_broadcast_val = config_val("lanWlanCfg_BeaconAdvertisementEnabled_");

		//if (security_val == "wpa_eap" || security_val == "wpa2_eap"){
		if((security_val=="2" || security_val=="3" || security_val=="4") && wpaAuthMode == "1"){
			alert(get_words('_MSG29'));
			return false;
		}
		if (ssid_broadcast_val == "1"){
			alert(get_words('_MSG30'));
			return false;
		}
	}

	function send_request_wps(){
		//var security_val = "<% CmoGetCfg("wlan0_security","none"); %>";
		//var ssid_broadcast_val = "<% CmoGetCfg("wlan0_ssid_broadcast","none"); %>";
		//var security_val = "<% CmoGetCfg("wlan0_security","none"); %>";
		var security_val = config_val("lanWlanCfg_SecurityMode_");
		var wpaAuthMode = config_val("wpaInfo_AuthenticationMode_");
		var wepAuthMode = config_val("wepInfo_AuthenticationMode_");

		//var ssid_broadcast_val = "<% CmoGetCfg("wlan0_ssid_broadcast","none"); %>";
		var ssid_broadcast_val = config_val("lanWlanCfg_BeaconAdvertisementEnabled_");
		var wlan_enable_val = config_val("lanWlanCfg_Enable_");
		var wps_enable = get_by_name("wpsEnable");
		//var wpa_encr = config_val("wpaInfo_EncryptionMode_");

		if(wps_enable[0].checked){
			get_by_id("wps_enable").value = 1;
					//if (security_val == "wpa_eap" || security_val == "wpa2_eap"){
					if((security_val=="2" || security_val=="3" || security_val=="4") && wpaAuthMode == "1"){
						alert(get_words('_MSG29'));
						return false;
					}
/**
					if( wpa_encr == "0"){	//TKIP
						alert(get_words('notify_wps_01'));
						return false;
					}
					//if (security_val == "wep_share_64" || security_val == "wep_share_128"){
					//if(security_val=="1" && wepAuthMode=="1"){

					if(security_val=="1"){
						alert(get_words('_MSG781'));
						return false;
					}
					if (ssid_broadcast_val == "0"){
					alert(get_words('_MSG30'));
						return false;
					}
**/					
					if (wlan_enable_val == "0"){
						alert(get_words('_MSG31'));
						return false;
					}
		}else{
			get_by_id("wps_enable").value = 0;

		}
		get_by_id("wpsCfg_Enable_1.1.1.1.0").value = get_by_id("wps_enable").value;	
		get_by_id("form5").submit();
		return true;
	}

	function check_pin(){
		var accum = 0;
		var PIN = get_by_id("client_pin_number").value;

		accum += 3 * Math.floor((PIN / 10000000) % 10);
		accum += 1 * Math.floor((PIN / 1000000) % 10);
		accum += 3 * Math.floor((PIN / 100000) % 10);
		accum += 1 * Math.floor((PIN / 10000) % 10);
		accum += 3 * Math.floor((PIN / 1000) % 10);
		accum += 1 * Math.floor((PIN / 100) % 10);
		accum += 3 * Math.floor((PIN / 10) % 10);
		accum += 1 * Math.floor((PIN / 1) % 10);

		return (0 == (accum % 10));
	}

	//20120420 pascal add autoLock in wps
	function send_request_lock()
	{
		//get_by_id("wpsCfg_AutoLock_1.1.1.1.0").value = autolock_state;	
		get_by_id("form_lock").submit();
	}

	function send_request_pin(){

		if((get_by_id("client_pin_number").value =="") || !_isNumeric(get_by_id("client_pin_number").value) || (get_by_id("client_pin_number").value.length != 8) || !check_pin()){
			alert(get_words('_InvalidPIN'));
			return false;
		}
		get_by_id("wps_sta_enrollee_pin").value = get_by_id("client_pin_number").value;
		get_by_id("wpsCfg_ClientPINNumber_1.1.1.1.0").value = get_by_id("client_pin_number").value;
		get_by_id("form6").submit();
	}

	function send_request_pbc(){
		get_by_id("form7").submit();
	}

	function disable_wps()
	{
		var security_val = config_val("lanWlanCfg_SecurityMode_");
		var wepAuthMode = config_val("wepInfo_AuthenticationMode_");

		var enable = get_by_name("wpsEnable");	
		var wlan0_enable = config_val("lanWlanCfg_Enable_");
		var wps_enable_nvram_value = config_val("wpsCfg_Enable_");	

		var autolock_state = (config_val("wpsCfg_AutoLock_")==0?get_words('stat_unlock'):get_words('stat_lock'));

		if(wlan0_enable == 0){
			set_checked("0",get_by_name("wpsEnable"));
			get_by_name("wpsEnable")[0].disabled = true;
			get_by_name("wpsEnable")[1].disabled = true;
			get_by_id("auto_lock").disabled = true;
			get_by_id("client_pin_number").disabled = true;
			get_by_id("setPIN").disabled = true;
			get_by_id("triggerPBC").disabled = true;
			get_by_id("show_security_table").style.display = "none";
			get_by_id("apply").disabled = true;
		}else{
		get_by_id("client_pin_number").disabled = enable[1].checked;
		get_by_id("setPIN").disabled = enable[1].checked;	
		get_by_id("triggerPBC").disabled = enable[1].checked;
		get_by_id("show_security_table").style.display = (enable[1].checked) ? "none" : "";

		if(security_val == "1" && wepAuthMode == "1")
			get_by_id("show_security_table").style.display = "none";
		else
			get_by_id("show_security_table").style.display = "";

		get_by_id("show_security_table").style.display = (enable[1].checked) ? "none" : "";

		//20120420 pascal add
		if (autolock_state == 'Unlocked') 
			$('#autoLock').attr('disabled',true);
		else
			$('#autoLock').attr('disabled',false);
		}

		if(wps_enable_nvram_value == 0)
		{
			get_by_id("autoLock").disabled=true;
			get_by_id("client_pin_number").disabled = true;
            get_by_id("setPIN").disabled = true;
			get_by_id("triggerPBC").disabled = true;
		}
		var login_who=login_Info;
	    if(login_who != "w")
    	{
			get_by_id("apply").disabled = "true";
			get_by_id("autoLock").disabled="true";
			get_by_id("setPIN").disabled = "true";
			get_by_id("triggerPBC").disabled = "true";
    	}
	}
</script>
</head>
<body onLoad="MM_preloadImages('but_wizard_1.gif','but_status_1.gif','but_tools_1.gif','but_main_1.gif','but_wireless_1.gif','but_routing_1.gif','but_access_1.gif','but_management_1.gif')">
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="20%" height="429" valign="top"><table width="56%" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td onclick="location.href='lan.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG749');</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>	
				</a></td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='wireless_basic.htm'">
				<table class="menu_tb">
				<tr>
					<td class="menu_sel_nw"></td>
					<td class="menu_sel_n"></td>
					<td class="menu_sel_ne"></td>
				</tr>
				<tr>
					<td class="menu_sel_w"></td>
					<td class="menu_sel_m"><b>&nbsp;&nbsp;<script>show_words('_Wireless')</script></td>
					<td class="menu_sel_e"></td>
				</tr>
				<tr>
					<td class="menu_sel_sw"></td>
					<td class="menu_sel_s"></td>
					<td class="menu_sel_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><table width="100%" border="0" cellpadding="2" class="submenubg">
                    <tr>
                      <td width="13%" align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td width="87%"><a href="wireless_basic.htm" class="submenus"><b><script>show_words('_Basic');</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="wireless_auth.htm" class="submenus"><b><script>show_words('_Security');</script></b></a></td>
                    </tr>
                    <tr>
                      <td align="right"><font color="#FFFFFF">&bull;</font></td>
                      <td><a href="wireless_advanced.htm" class="submenus"><b><script>show_words('_Advanced');</script></b></a></td>
                    </tr>
<!--DEF	CONFIG_WPS-->  <tr><td align="right"><font color="#FFFFFF">&bull;</font></td>
<!--DEF CONFIG_WPS-->    <td><a href="wlan_wps.htm" class="submenus"><b><u><script>show_words('_WiFiSetup');</script></u></b></a></td></tr>
                </table></td>
              </tr>
			  <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='status.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG748')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='static_routing.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG747')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='filters.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Access')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='snmp.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_MSG746')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="location.href='restart.htm'">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Tools')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="8" height="8"></td>
              </tr>
              <tr>
                <td onclick="show_wizard('wizard.htm',login_Info)">
				<table class="menu_tb" onMouseOver="changeMenuClass(this, 'in');" onmouseout="changeMenuClass(this, 'out');">
				<tr>
					<td class="menu_nw"></td>
					<td class="menu_n"></td>
					<td class="menu_ne"></td>
				</tr>
				<tr>
					<td class="menu_w"></td>
					<td class="menu_m"><b>&nbsp;&nbsp;<script>show_words('_Wizard')</script></td>
					<td class="menu_e"></td>
				</tr>
				<tr>
					<td class="menu_sw"></td>
					<td class="menu_s"></td>
					<td class="menu_se"></td>
				</tr>
				</table>
				</td>
              </tr>
              <tr>
                <td><img src="spacer.gif" width="15" height="15"></td>
              </tr>
            </table>
            <p>&nbsp;</p>
              <p>&nbsp;</p></td>
            <td width="2%"><img src="spacer.gif" width="15" height="15" /></td>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
                <tr>
                  <td class="headerbg2"><table width="100%" border="0" cellpadding="0" cellspacing="0" style="padding: 10px 0 10px 0">
                      <tr>
                        <td width="79%"><font color="#FFFFFF" class="textheader" style="margin-left:0; padding-left:0"><script>show_words('_wifiPS')</script></font></td>
                        <td width="21%"><input name="button" type="button" id="help_btn" class="ButtonHelp" onclick="MM_openBrWindow('help_wlan.htm#wireless_wps','','scrollbars=yes,resizable=yes,width=800,height=550')" value="" />   <script>$('#help_btn').val(get_words('_Help'));</script>                     </td>
                      </tr>
                  </table></td>
                </tr>
                <td height="188" valign="top">
					<form id="form7" name="form7" method=POST action="get_set.ccp">
						<input type="hidden" name="ccp_act" value="set">
						<input type="hidden" name="ccpSubEvent" value="CCP_SUB_WPSPBC">
						<input type="hidden" name="nextPage" value="wps_back.htm">
					</form>
					<form id="form6" name="form6" method=POST action="get_set.ccp">
						<input type="hidden" name="ccp_act" value="set">
						<input type="hidden" name="ccpSubEvent" value="CCP_SUB_WPSPIN">
						<input type="hidden" name="nextPage" value="do_wps_save.htm">
						<input type="hidden" name="wpsCfg_ClientPINNumber_1.1.1.1.0" id="wpsCfg_ClientPINNumber_1.1.1.1.0" value="">
					</form>
					
					<form id="form5" name="form5" method=POST action="get_set.ccp">
						<input type="hidden" name="ccp_act" value="set">
						<input type="hidden" name="ccpSubEvent" value="CCP_SUB_WPS">
						<input type="hidden" name="nextPage" value="wlan_wps.htm">
						<input type="hidden" name="wpsCfg_Enable_1.1.1.1.0" id="wpsCfg_Enable_1.1.1.1.0" value="">
					</form>
				
					<form id="form4" name="form1" method=POST action="apply.cgi">
                          <input type="hidden" name="html_response_page" value="back.htm">
                          <input type="hidden" name="html_response_message" value="The setting is saved.">
                          <input type="hidden" name="html_response_return_page" value="wlan_wps.htm">
                          <input type="hidden" name="wps_enable" id="wps_enable" value='<% CmoGetCfg("wps_enable","none"); %>'>
                          <input type="hidden" name="wlan_enable" id="wlan_enable" value='<% CmoGetCfg("wlan0_enable","none"); %>'>
                          <input type="hidden" name="wlan0_security" id="wlan0_security" value="">

						  <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                            <tr>
                              <td align="right" nowrap class="bgblue"><font face="Arial"><script>show_words('_WPS')</script></font></td>
                              <td class="bggrey">
                                <input type="radio" value="1" name="wpsEnable" onclick="disable_wps()">
                                <script>show_words('_Enabled')</script>&nbsp;
                                &nbsp;&nbsp;&nbsp;
                                <input type="radio" value="0" name="wpsEnable" onclick="disable_wps()">
                                <script>show_words('_Disable')</script> &nbsp;&nbsp;
                              <input name="apply" id="apply" type="button" class="ButtonSmall" onClick="return send_request_wps()" value=""><script>$('#apply').val(get_words('_Apply'));</script></td>
                            </tr>
                          </table>
                      </form>
					<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
						<tr>
                            <td align="right" nowrap class="bgblue"><font face="Arial"><script>show_words('_MSG748')</script> </font></td>
                            <td  class="bggrey"><input type="radio" value="0" name="config" disabled>
                              &nbsp;<script>show_words('_UnConfigured')</script>&nbsp;
                              <input type="radio" value="1" name="config" disabled>
                              <script>show_words('_Configured')</script></td>
                        </tr>
					</table>
					<form id="form_lock" method="post" action="get_set.ccp">
						<input type="hidden" name="ccp_act" value="set">
						<input type="hidden" name="ccpSubEvent" value="CCP_SUB_WPSLOCK">
						<input type="hidden" name="nextPage" value="wlan_wps.htm">
						<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
						<tr>
							<td align="right" nowrap class="bgblue"><font face="Arial"><script>show_words('auto_lock')</script> </font></td>
							<td  class="bggrey">&nbsp;<span id="lock_state" value=""></span>
							<input name="autoLock" type="button" class="ButtonSmall" id="autoLock" onClick="send_request_lock()" value=""></td>
							<script>$('#autoLock').val(get_words('btn_auto_lock'));</script>
						</tr>	
						</table>
					</form>
					<table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                        <tr>
                            <td align="right" class="bgblue"><font face="Arial"><script>show_words('_SelfPIN')</script></font></td>
                            <td  class="bggrey">&nbsp;<span id="default_pin"></span></td>
						</tr>				
					</table>
                  <form id="form2" name="form2" method="post" action="set_sta_enrollee_pin.cgi">
                          <input type="hidden" id="html_response_page" name="html_response_page" value="do_wps_save.htm">
                          <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="wlan_wps.htm">
                          <input type="hidden" id="reboot_type" name="reboot_type" value="none">
                          <input type="hidden" id="wps_sta_enrollee_pin" name="wps_sta_enrollee_pin" value='<% CmoGetCfg("wps_sta_enrollee_pin","none"); %>'>
                          <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                            <tr>
                              <td align="right" nowrap class="bgblue"><font face="Arial"><script>show_words('_ClientPIN')</script></font></td>
                        <td class="bggrey"><font face="Arial" size="2">
                                <input id="client_pin_number" maxLength="8" size="12" name="client_pin_number">
                                &nbsp;&nbsp;
                                <input name="setPIN" type="button" class="ButtonSmall" id="setPIN" onClick="send_request_pin()" value=""><script>$('#setPIN').val(get_words('_StartPIN'));</script>
                              </font></td>
                            </tr>
                          </table>
                  </form>
                  <form id="form3" name="form3" method="post" action="virtual_push_button.cgi">
                          <input type="hidden" id="html_response_page" name="html_response_page" value="wps_back.htm">
                          <input type="hidden" id="html_response_return_page" name="html_response_return_page" value="wlan_wps.htm">
                          <input type="hidden" id="reboot_type" name="reboot_type" value="none">
                          <input type="hidden" id="wps_configured_mode" name="wps_configured_mode" value='<% CmoGetCfg("wps_configured_mode","none"); %>'>
                          <table width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333">
                            <tr>
                              <td align="right" nowrap class="bgblue"><font face="Arial"><script>show_words('_PushBtnConfig')</script></font></td>
                        <td class="bggrey"><font face="Arial" size="2">
                                <input name="triggerPBC" type="button" class="ButtonSmall" id="triggerPBC" onClick="send_request_pbc()" value=""><script>$('#triggerPBC').val(get_words('_StartPBC'));</script>
                              </font></td>
                            </tr>
                          </table>
                  </form>
                  <br>
                        <table id="show_security_table" width="98%" border="0" align="center" cellpadding="3" cellspacing="1" bgcolor="#333333" style="display:none">
                          <tr>
                            <td width="26%" align="center" bgcolor="#DDDDDD"><b><script>show_words('_Authentication')</script></b></td>
                            <td width="26%" align="center" bgcolor="#DDDDDD" ><b><script>show_words('_Encryption')</script></b></td>
                            <td width="48%" align="center" bgcolor="#DDDDDD"><b><script>show_words('_Key')</script></b></td>
                          </tr>
                          <script>
		var s_mode = "0";			//0->disable, 1->wep, 2->wpa1, 3->wpa2, 4->auto
		if(config_val("lanWlanCfg_SecurityMode_"))
			s_mode = config_val("lanWlanCfg_SecurityMode_");

		var wep_auth_mode = "0";	//0->open, 1->psk
		if(config_val("wepInfo_AuthenticationMode_"))
			wep_auth_mode = config_val("wepInfo_AuthenticationMode_");

		var wep_key_len = "0";		//0->64, 1->128
		if(config_val("wepInfo_KeyLength_"))
			wep_key_len = config_val("wepInfo_KeyLength_");

		var wpa_auth_mode = "0";
		if(config_val("wpaInfo_AuthenticationMode_"))
			wpa_auth_mode = config_val("wpaInfo_AuthenticationMode_");

		//alert(s_mode);
		if(s_mode == "0")
			get_by_id("wlan0_security").value = "disable";

		else if(s_mode == "1")	//wep
		{
			//return;

			get_by_id("wlan0_security").value = "wep_";
			if(wep_auth_mode == "0")
				get_by_id("wlan0_security").value += "open_";
			else if(wep_auth_mode == "1")
				get_by_id("wlan0_security").value += "share_";
			
			if(wep_key_len == "0")
				get_by_id("wlan0_security").value += "64";
			else if(wep_key_len == "1")
				get_by_id("wlan0_security").value += "128";

		}
		else if(s_mode == "2")	//wpa1
		{
			get_by_id("wlan0_security").value = "wpa_";
			if(wpa_auth_mode == "0")
				get_by_id("wlan0_security").value += "psk";
			else
				get_by_id("wlan0_security").value += "eap";
		}
		else if(s_mode == "3")	//wpa2
		{
			get_by_id("wlan0_security").value = "wpa2_";
			if(wpa_auth_mode == "0")
				get_by_id("wlan0_security").value += "psk";
			else
				get_by_id("wlan0_security").value += "eap";
		}
		else if(s_mode == "4")	//wpa2auto
		{
			get_by_id("wlan0_security").value = "wpa2auto_";
			if(wpa_auth_mode == "0")
				get_by_id("wlan0_security").value += "psk";
			else
				get_by_id("wlan0_security").value += "eap";
		}
		
							//var security= '<% CmoGetCfg("wlan0_security","none"); %>';
							var security = get_by_id("wlan0_security").value;
							//var wep_default_key= '<% CmoGetCfg("wlan0_wep_default_key","none"); %>'; 
							var wep_default_key= config_val("wepInfo_KeyIndex_");
							
							//var wep_display = '<% CmoGetCfg("wlan0_wep_display","none"); %>'; // hex or ascii
							var wep_display = "hex";
							if(config_val("wepInfo_KeyType_") == "1")
								wep_display = "ascii";
							
							//var tmp_psk_cipher_type= '<% CmoGetCfg("wlan0_psk_cipher_type","none"); %>';
							var tmp_psk_cipher_type= "tkip";
							if(config_val("wpaInfo_EncryptionMode_") == "1")
								tmp_psk_cipher_type= "aes";
							else if(config_val("wpaInfo_EncryptionMode_") == "2")
								tmp_psk_cipher_type= "both";

							var psk_pass_phrase= config_val("wpaPSK_KeyPassphrase_");

							if(tmp_psk_cipher_type =="tkip"){
								var psk_cipher_type= "TKIP"
							}else if(tmp_psk_cipher_type =="aes"){
								var psk_cipher_type= "AES"
							}else if(tmp_psk_cipher_type =="both"){
								var psk_cipher_type= "TKIP|AES"
							}

							// 20121112 ignore by silvia, return is js error
							//if (psk_cipher_type == "TKIP")
							//	return;

							var key64Hex = config_str_multi("wepKey_KeyHEX64_");
							var key64Ascii = config_str_multi("wepKey_KeyASCII64_");
							var key128Hex = config_str_multi("wepKey_KeyHEX128_");
							var key128Ascii = config_str_multi("wepKey_KeyASCII128_");

							var wep64_key = "";
							var wep128_key = "";
							if(wep_default_key =="1"){
									if(wep_display =="hex"){
										//wep64_key = '<% CmoGetCfg("wlan0_wep64_key_1","hex"); %>';
										//wep128_key = '<% CmoGetCfg("wlan0_wep128_key_1","hex"); %>';
										wep64_key = key64Hex[0];
										wep128_key =key128Hex[0];
									}else{
										//wep64_key = '<% CmoGetCfg("wlan0_wep64_key_1","ascii"); %>';
										//wep128_key = '<% CmoGetCfg("wlan0_wep128_key_1","ascii"); %>';
										wep64_key = key64Ascii[0];
										wep128_key =key128Ascii[0];
									}
							}
							if(wep_default_key =="2"){
									if(wep_display =="hex"){  
										//wep64_key = '<% CmoGetCfg("wlan0_wep64_key_2","hex"); %>';
										//wep128_key = '<% CmoGetCfg("wlan0_wep128_key_2","hex"); %>';
										wep64_key = key64Hex[1];
										wep128_key =key128Hex[1];
									}else{
										//wep64_key = '<% CmoGetCfg("wlan0_wep64_key_2","ascii"); %>';
										//wep128_key = '<% CmoGetCfg("wlan0_wep128_key_2","ascii"); %>';
										wep64_key = key64Ascii[1];
										wep128_key =key128Ascii[1];
									}
							}
							if(wep_default_key =="3"){
									if(wep_display =="hex"){  
										//wep64_key = '<% CmoGetCfg("wlan0_wep64_key_3","hex"); %>';
										//wep128_key = '<% CmoGetCfg("wlan0_wep128_key_3","hex"); %>';
										wep64_key = key64Hex[2];
										wep128_key =key128Hex[2];
									}else{
										//wep64_key = '<% CmoGetCfg("wlan0_wep64_key_3","ascii"); %>';
										//wep128_key = '<% CmoGetCfg("wlan0_wep128_key_3","ascii"); %>';
										wep64_key = key64Ascii[2];
										wep128_key =key128Ascii[2];
									}
							}
							if(wep_default_key =="4"){
									if(wep_display =="hex"){  
										//wep64_key = '<% CmoGetCfg("wlan0_wep64_key_4","hex"); %>';
										//wep128_key = '<% CmoGetCfg("wlan0_wep128_key_4","hex"); %>';
										wep64_key = key64Hex[3];
										wep128_key =key128Hex[3];
									}else{
										//wep64_key = '<% CmoGetCfg("wlan0_wep64_key_4","ascii"); %>';
										//wep128_key = '<% CmoGetCfg("wlan0_wep128_key_4","ascii"); %>';
										wep64_key = key64Ascii[3];
										wep128_key =key128Ascii[3];
									}
							}

							if(security == "wep_open_64"){
							
									document.write("<tr bgcolor=\"#F0F0F0\">");
									document.write("<td width=\"36%\" height=\"25\" class=\"bggrey\">"+get_words('__open')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+get_words('_WEP')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+ wep64_key +"</td>");
									document.write("</tr>");									
							}else if(security == "wep_open_128"){
									document.write("<tr bgcolor=\"#F0F0F0\">");
									document.write("<td width=\"36%\" height=\"25\" class=\"bggrey\">"+get_words('__open')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+get_words('_WEP')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+ wep128_key +"</span></td>");
									document.write("</tr>");		
							}else if(security == "wpa_psk"){
									document.write("<tr bgcolor=\"#F0F0F0\">");
									document.write("<td width=\"36%\" height=\"25\" class=\"bggrey\">"+get_words('_WPAPSK')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+ psk_cipher_type +"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+ psk_pass_phrase +"</td>");
									document.write("</tr>");		
							}else if(security == "wpa2_psk"){
									document.write("<tr bgcolor=\"#F0F0F0\">");
									document.write("<td width=\"36%\" height=\"25\" class=\"bggrey\">"+get_words('_WPA2PSK')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+ psk_cipher_type +"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+ psk_pass_phrase +"</td>");
									document.write("</tr>");		
							}else if(security == "wpa2auto_psk"){
									document.write("<tr bgcolor=\"#F0F0F0\">");
									document.write("<td width=\"36%\" height=\"25\" class=\"bggrey\">"+get_words('_WPA2AUTOPSK')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+ psk_cipher_type +"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+ psk_pass_phrase +"</td>");
									document.write("</tr>");		
							}else if(security == "disable"){
									document.write("<tr bgcolor=\"#F0F0F0\">");
									document.write("<td width=\"36%\" height=\"25\" class=\"bggrey\">"+get_words('_Disabled')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\">"+get_words('_None')+"</td>");
									document.write("<td width=\"40%\" height=\"25\" class=\"bggrey\"> - </td>");
									document.write("</tr>");		
							}							
					</script>
                      </table></td>
                </tr>
            </table></td>
          </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
</body>
<script>
	onPageLoad();
</script>
</html>
