<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>TRENDNET | modelName | Utility </title>
<link rel="stylesheet" href="style.css" type="text/css">
<script language="JavaScript" src="uk.js"></script>

<script language="JavaScript" src="public_js/public.js"></script>
<script language="Javascript" src="js/jquery-1.3.2.min.js"></script>
<script language="Javascript" src="js/xml.js"></script>
<script language="Javascript" src="js/object.js"></script>
<SCRIPT LANGUAGE="JavaScript">
	var dev_info = get_router_info();
	
	function back(){
		var login_who=dev_info.login_info;
		if(login_who!= "w"){
			window.location.href ="status.htm";
		}else{
			window.location.href = get_by_id("html_response_page").value;
		}
		
	}
</script>

</head>
<body>
<table width="750" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="21"><img src="c1_tl.gif" width="21" height="21" /></td>
    <td width="708" background="bg1_t.gif"><img src="top_1.gif" width="390" height="21" /></td>
    <td width="21"><img src="c1_tr.gif" width="21" height="21" /></td>
  </tr>
  <tr>
    <td valign="top" background="bg1_l.gif"><img src="top_2.gif" width="21" height="69" /></td>
    <td background="bg.gif"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="13%"><img src="logo.gif" /></td>
        <td width="87%" align="right"><img src="description.gif" /></td>
      </tr>
    </table>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="78%" valign="top"><table width="98%" border="0" cellpadding="0" cellspacing="0" class="tabBigTitle">
                <tr>
                  <td class="headerbg2">&nbsp;</td>
                </tr>
                <tr>
                  <td valign="top"><form id="form1" name="form1" method="post">
                    <input type="hidden" id="html_response_page" name="html_response_page" value="wlan_wps.htm">
                    <input type="hidden" id="html_response_message" name="html_response_message" value='<% CmoGetCfg("html_response_message","none"); %>'>
                    <input type="hidden" id="html_response_return_page" name="html_response_return_page" value='<% CmoGetCfg("html_response_return_page","none"); %>'>
                    <input type="hidden" name="reboot_type" value="none">
                    <TABLE width="98%" height="200" border="0" align="center" cellpadding="3" cellspacing="1">
                      <tr>
                        <td bgcolor="#DDDDDD"><table width="70%" border="0" align="center">
                            <tr>
                              <td height="100"><div id=box_header>
                                  <div align="left">
                                    <p align="center" class="box_msg"><script>show_words('_MSG32');</script>.</p>
                                    <p align="center">
                                      <input name="button" id="button" type=button class=ButtonSmall value="" onClick="back()">
												<script>$('#button').val(get_words('_Back'));</script>
                                    </p>
                                  </div>
                              </div></td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                    <br>
                  </form></td>
                </tr>
              </table>
                <br></td>
          </tr>
      </table></td>
    <td background="bg1_r.gif">&nbsp;</td>
  </tr>
  <tr>
    <td><img src="c1_bl.gif" width="21" height="20" /></td>
    <td align="right" background="bg1_b.gif"><img src="copyright.png" width="264" height="20" /></td>
    <td><img src="c1_br.gif" width="21" height="20" /></td>
  </tr>
</table>
</body>
</html>
